[2021-01-27 14:08] dankelley commented on #360
This has been partially working for a while.  Some elements still show up before the data have been read in.  I've removed my name from the assignee list, since I've coded in a start to this, and I'm happy to have @j-harbin continue with it, if desired.

[2021-01-27 16:00] dankelley commented on #365
I fixed this in "develop" commit 3f7ef0632643592c5a909a21bc5f98e4f096340d

I had forgotten that `format()` requires a `tz` argument, or it shifts to a local timezone.  All should be okay now.

Also, I made it so the top-margin note in the single-float view shows not just the float ID, but also the time range.

[2021-01-27 16:00] #365 closed

[2021-01-27 18:09] j-harbin opened #377 "Make border selectInput be on same line as other symbol settings"
Hi @paleolimbot,

I have a similar request as https://github.com/ArgoCanada/argoFloats/issues/375. I currently added a conditional `selectInput` to specify the border colour if pch=21 in the Settings tab for Core, BGC, and Deep. When pch=21 is not selected the tab looks as follows:

![Screen Shot 2021-01-27 at 2 02 02 PM](https://user-images.githubusercontent.com/58750538/106033842-8bbb1d00-60a8-1

[2021-01-27 18:21] j-harbin commented on #348
Closing this issue until further updates are needed.

[2021-01-27 18:21] #348 closed

[2021-01-28 15:09] dankelley commented on #345
Closing, per Z meeting JH/DK.

[2021-01-28 15:09] #345 closed

[2021-01-28 15:12] dankelley commented on #372
The initial title was about the specialized version of `subset` for objects of `argoFloats` class, and for that, I argue the answer is "no".  We've got a few ways in this comment thread of accomplishing these ends in various ways, so closing this (which I'm about to do) is not a rejection of the idea.

[2021-01-28 15:12] #372 closed

[2021-01-29 14:00] j-harbin commented on #320
Good catch on this, Clark. I know you're busy so I went ahead and updated this documentation in commit 23d5fc9413bb42b583300ac513abbe320f73b8c7 of the develop branch.

I'll close this issue since it was a straight forward update to documentation, but if you feel it needs more tweaks, please feel free to reopen.

[2021-02-01 13:49] j-harbin commented on #360
I've completed this in commit 29da759761983946eee233a11817564f45cb87cd and commit 06a80bbe907037d9d0f806845b0006d319fb05d0 of the develop branch. Dan, since you are the creator of this issue, feel free to have a look and close the issue if you see fit!

[2021-02-01 14:09] dankelley commented on #360
I see the menus before any data are available.  It would be nice not to. 😺

<img width="302" alt="Screen Shot 2021-02-01 at 10 07 57 AM" src="https://user-images.githubusercontent.com/99469/106469231-6c8c0900-6475-11eb-8763-f9774847de2e.png">

[2021-02-01 14:44] j-harbin commented on #360
I thought this too, however, the problem is that **alot** of code (widgets, plots, etc.) depend on which tab is selected. When we remove the tabs until after getIndex, we receive a continuous error "missing value where TRUE/FALSE needed" in multiple spots. For that reason, for me the work wasn't worth the gain.

Also, you'll notice that in Settings, if you click on "Core", "BGC", or "Deep", the us

[2021-02-01 14:50] dankelley commented on #360
Can you quote a file/line where something depends on the tab?  Possibly I can see a fix.

This is not a huge problem, but if I can see an easy fix, it might help.  I certainly would not want to keep this issue open if the final steps turn out to be hard.

As dogfooding is a "thing", so two is "cost:benefit analysis".  Not to put things in quotes, of "course". 😜

[2021-02-01 14:58] j-harbin commented on #360
Line 45-66, for example, where the "core" widgets for settings are conditional on tab 3 and 4 being selected. Without having the core widgets, however, the plot is not possible as the colour points, symbol types, etc. depend on those widgets.

![Screen Shot 2021-02-01 at 10 56 32 AM](https://user-images.githubusercontent.com/58750538/106475465-55044e80-647c-11eb-852b-d8e6bdca78e6.png)

I think the

[2021-02-01 15:39] dankelley commented on #360
Right.  There are tricks with `conditionalPanel()`, which I could probably find in some old code, but I gave up on that a long time ago, in favour of `renderUI`.  I'll take a look this aft, but likely I'll just close the issue -- not a big deal for now.

[2021-02-01 15:58] dankelley commented on #360
I'll close this, on the basis that it's not of high enough priority to complete the final step at this time, given the nature of the code and other priorities.  Thanks!

[2021-02-01 15:58] #360 closed

[2021-02-01 18:29] j-harbin commented on #377
Hey Dewey!

I used the skills you taught me in #375 and Dan directed me to the column argument, so I figured I would tackle this. It is done in commit 27cc8423e7a7a369c3cec6dad31472932c6b912b of the develop branch and it looks like the following:

![Screen Shot 2021-02-01 at 2 26 26 PM](https://user-images.githubusercontent.com/58750538/106501689-d1f1f100-6499-11eb-993f-3aa5fb8ad150.png)

Thanks f

[2021-02-01 18:29] #377 closed

[2021-02-01 18:32] dankelley commented on #377
Not that I'm a picky, but does anyone else find it bothersome that the "default" word has a triangle on top?  Oh, those pesky triangles, always climbing on top, trying to be the king/queen of the castle.

[2021-02-02 12:28] j-harbin opened #378 "Should we add a QC tab to mapApp?"
We've talked about this in passing before, but it may be a good idea to add a "QC" tab to mapApp(). I'll code this in, but I'm going to assign this to everyone (@dankelley @richardsc @paleolimbot @cgrdn ) so we could discuss what we'd like to see in this tab.

Thoughts?

[2021-02-02 12:36] dankelley commented on #378
A video call with all involved is likely to be the best way to determine what makes sense scientifically, what fits with current practices, what fits with planned practices, etc., after which a plan for staged work (and a UI) could be laid out.  There ought also to be some discussion of integration with DACs, etc.  (I will likely bring up, again, the idea of DFO providing argo data, this time, cle

[2021-02-02 13:00] j-harbin opened #379 "Investigate interpolated points"
As a follow up to https://github.com/ArgoCanada/argoFloats/issues/224, I contacted some PIs to discuss "weird" points. It seems when a float goes in a straight line (shown below) it can be a result of sea ice with no positioning during that period.

![Screen Shot 2021-02-02 at 8 31 37 AM](https://user-images.githubusercontent.com/58750538/106600673-1da3a980-6531-11eb-80c6-8850bb67d59d.png)

In thi

[2021-02-02 13:14] dankelley commented on #378
I agree that a new app is a good approach.  It seems sensible to start with QC ideas, and conventions, and plans, before contemplating code. Another important thing is to consider who such a tool would be designed for (individual researchers? crowd-sourced QC? nation-level official? transnational-level official?) and for what end (supplement DACs? test platform for DACs? scientific reanalysis cent

[2021-02-02 13:21] cgrdn commented on #378
If `mapApp()` is run using only the index, I agree that a new app probably makes sense.

Re: @dankelley's point, if the design for say, DMQC operators, you could replicate something scoop-Argo does (https://www.seanoe.org/data/00374/48531/), which is it plots the data, and you can select individual points or groups of points and change the quality flag of them. Could apply to reanalysis as well, a

[2021-02-02 13:45] dankelley commented on #378
In case it's of any interest, I made a video with Cat Evans about an app I wrote to do glider QC.  There are some others in that series, too. https://youtu.be/1fS7KBInhms

[2021-02-03 15:13] j-harbin opened #380 "Update argoFloats docs for new oce CRAN release"
* [ ] DESCRIPTION
* [ ] README.md
* [ ] .gitignore

[2021-02-03 15:29] j-harbin commented on #380
Done in commit 9c06dc4b32058654d17cbb36e9dc2eb3015f2aae of develop.

[2021-02-03 15:34] dankelley commented on #380
@j-harbin please remove the "remotes" line in the DESCRIPTION. That's no longer needed, since we now "require" oce directly.  Also, it is (I think) a `devtools` addition, which will get flagged by CRAN as nonstandard.

[2021-02-03 18:29] j-harbin commented on #379
Thanks Dewey. This was a good opportunity for me to dive into `argodata`.

I'm just playing with code below, feel free to ignore.

[code]

[2021-02-04 17:47] j-harbin opened #381 "Name for new QC app?"
Creating this issue as a place for us to discuss a name for the new QC app.

My suggestion is `QCApp()`. It'm simple and is similar to `mapApp()`.

[2021-02-04 17:48] j-harbin commented on #378
As discussed in our meeting today, we will be creating a new app for QC. I've created an issue for this https://github.com/ArgoCanada/argoFloats/issues/381 , and am therefore closing this issue.

[2021-02-04 17:48] #378 closed

[2021-02-04 17:50] dankelley commented on #381
I agree. That's an ideal name.  Let's use the -1 to +1 voting convention, where +1 means "I agree" and -1 means "I do not agree", 0 means "let others decide" and numbers can be non-integral.  This way, the decision is made by the sign of the sum.

**DEK VOTE:** +1

[2021-02-04 20:45] cgrdn commented on #381
+1 `QCApp()` is perfect. Style wise I kind of like the look of `qcApp()` but I understand the caps given its an acronym.

[2021-02-05 03:05] richardsc commented on #381
+1 for the characters, but I think I agree with @cgrdn that `qcApp()` seems more consistent.

Sorry I missed the meeting today ... based on the new repo it sounds like it might be a good idea to have another meeting *just* for me to get me caught up (probably not until next week though ...) 😄

[2021-02-05 15:04] j-harbin commented on #381
Good point. I also give +1! `qcApp()` it is. I'll close this issue and get to work on this now!

[2021-02-05 15:04] #381 closed

[2021-02-05 15:22] j-harbin opened #382 "Create qcApp()"
Creating this as a place to keep track of my progress.

[2021-02-05 15:23] j-harbin commented on #382
Note: This is being working on in branch issue382

[2021-02-05 15:42] dankelley commented on #382
I'm happy to Z sometime, to "story-board" the interface or talk about things a person might want to do.  I walked down similar roads for the glider-QC app (and along some roads that got nowhere).

[2021-02-05 16:48] j-harbin commented on #382
I think that would be quite useful, Dan. Maybe we'll plan for Monday? In branch issue382 commit a6ae66569b96ada89167f7a3d75d01d203c22b3d you'll see I added `qcApp()`, but am currently just focusing on adding widgets (this is based off of the photo I presented in the meeting yesterday, which was inspired from your `oceanglider` QC app).

[2021-02-05 16:51] dankelley commented on #382
Sounds good.  Maybe you can get in touch on Monday. Thanks!

[2021-02-08 14:39] j-harbin opened #383 "Add "Save" button to mapApp()"
As discussed in a vftf, the "Save" button will save an subset of index into an rda.

The relevant code for this is as follows:

[code]

This will allow me to add a "Load" button to `qcApp()` to look at a subset of profiles.

[2021-02-08 14:43] j-harbin commented on #382
To do:

* [ ] Add "Load" button that reads profiles from the index rda (relevant code = `load("mapApp_20210208T1302.rda")`)
* [ ] Make widgets work
* [ ] Make only one tab with conditional widgets (showQCTests, Diagnostics) if "single float" is selected
* [ ] Make "Undo" button
* [ ] Make plot par depend on # of plots selected (look at `whalestrike` package)

[2021-02-08 15:31] dankelley opened #384 "mapApp() not showing end-time box"
See snapshot.

<img width="878" alt="Screen Shot 2021-02-08 at 11 30 15 AM" src="https://user-images.githubusercontent.com/99469/107241166-1b45c180-6a01-11eb-88c3-f52ebacc15fd.png">

[2021-02-08 16:50] dankelley opened #385 "should we remove the grand-fathering of subset(..., id=...)?"
As shown below, (a) we said we would remove the `id=` syntax in Dec 2020, but it seems we still permit it, and (b) I cannot remember the convention, despite coding and discussing.

What do you think, @j-harbin?  Should we report an error now?  I think so, actually, because otherwise I don't think I'll get the `ID` syntax into my puny brain unless forced to 😃

<img width="1074" alt="Screen Shot 202

[2021-02-08 17:26] j-harbin commented on #384
Good catch on this, Dan. It seems in commit 29da759761983946eee233a11817564f45cb87cd of the develop branch, when I was making it such that the widgets showed up after we got the index, I forgot to add the "End" widget back.

This is fixed in commit cc016c01085c4b2b154749ab36844fcca6144845 of the develop branch. Feel free to close this issue if you see fit.

[2021-02-08 17:37] dankelley commented on #384
Thanks.  I also widened the end-time by 1 em-space, because it was cut off on my machine.  ("develop" commit 33f8a3d2adec8897361dfd6a0ece73bc67b8a455)

[2021-02-08 17:37] #384 closed

[2021-02-08 17:37] j-harbin commented on #385
Yes, I'll make this change.

Do you also recommend changing the "backwards compatibility" of `filename="argo"`?

For example,

[code]
produces

[code]

[2021-02-08 17:41] dankelley commented on #385
Yes, I recommend that, also.  Basically, if we state an end date, we ought to stick to it, perhaps with a bit of grace period.  In this case, we've given a bit over 2 extra months, and that seems like plenty.

I prefer software that enforces its rules, because I'm bad, and really only pay attention to errors, not warnings.

[2021-02-08 17:47] dankelley opened #386 "mouse-hover info box should always be present"
At the moment, that box appears and disappears according as to whether the mouse is in the plot area.  That makes it hard to use, because the plot sort of "jumps around" under the mouse.  I'll fix it.

[2021-02-08 17:49] #386 closed

[2021-02-08 17:49] dankelley commented on #386
Done.  Now, it displays a msg about what the mouse does.

[2021-02-08 19:33] dankelley opened #387 "subset() cannot use logical 2nd arg if 1st arg has type "argos""
I illustrate below.  I'll take a look at this, because I want it for something.  (We ought to have a way for users to get this action more simply.)

PS. the stated list of permitted values for `...` is not as documented.

[code]

[2021-02-08 20:05] dankelley commented on #387
Done in "develop", as below.

commit 8637975b1c746a11a629d055a559c7dfa7e7c186
Author: dankelley <kelley.dan@gmail.com>
Date:   Mon Feb 8 16:04:58 2021 -0400

    subset() works with 'argos' type and 'subset' arg

[2021-02-08 20:05] #387 closed

[2021-02-09 10:41] j-harbin commented on #385
Done in commit 72874e83c041f63931e02808d7027fae9bd3cc0a. Feel free to close if you see fit, or offer any further suggestions!

[2021-02-09 11:22] dankelley commented on #385
Looks great, thanks!

[2021-02-09 11:22] #385 closed

[2021-02-09 12:52] dankelley opened #388 "subset() error on unrecognized ... should be clearer"
It should list the item given. (In this case, I was using `subset(i, id=)`, which is no longer permitted.  I will fix this because I want it in the next 10 minutes.

Also, I will improve the formatting of the message, which ought to have a space after each comma, for readibility.

[code]

[2021-02-09 13:06] dankelley commented on #388
Fixed in "develop" commit

Now, using
[code]
yields the error msg
[code]
which (a) names the offending value of `...`, and (b) has the items separated by comma-space and not just space.

[2021-02-09 13:06] #388 closed

[2021-02-09 13:09] j-harbin opened #389 "Start and End time does not match "Code" tab"
As you see the "Start" and "End" time are 2021-02-07 and 2021-02-09 respectively,

![Screen Shot 2021-02-09 at 9 05 36 AM](https://user-images.githubusercontent.com/58750538/107367945-4ccc9480-6ab6-11eb-9e7e-1c769032ff2e.png)

But the code is showing

from <- as.POSIXct("2021-02-06", tz="UTC")
to <- as.POSIXct("2021-02-08", tz="UTC")

![Screen Shot 2021-02-09 at 9 08 41 AM](https://user-images.git

[2021-02-09 13:13] dankelley commented on #389
Who is assigned this issue?  (I propose @j-harbin but I could help since I wrote the original code, and have tweaked it for a similar problem fairly recently.)

[2021-02-09 14:32] j-harbin commented on #389
Ah yes, the good ol "format needs a `tz` argument" trick. This is fixed in commit 9b7610bfd177915881908d48cbdb7276d38d6402 of the develop branch.

[2021-02-09 14:32] #389 closed

[2021-02-09 17:03] j-harbin commented on #383
Done in commit 081814cc2c78439f45a4e55626180370cb9d6738 of the develop branch. Currently the "save" button only subsets by `time` and `rectangle`. Should it take into consideration if the user only selects `core`, `BGC`, or `deep`, or weather they select `path`, `contour` etc?

If so, I argue "code" should do the same thing. Currently the "Code" button only takes into consideration `time` and `rec

[2021-02-09 17:33] dankelley commented on #383
1. I think "save" should record the index being displayed (core or bgc ... there is no separate index for deep).

2. Similarly, I think "code" should do the same.  (I guess this ought to be its own issue, if you don't mind making one ... issue drift is confusing to observers.)

[2021-02-09 17:40] #383 closed

[2021-02-09 17:44] j-harbin opened #390 "Code and Save button should incorporate argo type"
Re Dan's comment in https://github.com/ArgoCanada/argoFloats/issues/383:

"I think "save" should record the index being displayed (core or bgc ... there is no separate index for deep).

Similarly, I think "code" should do the same. (I guess this ought to be its own issue, if you don't mind making one ... issue drift is confusing to observers.)"

I agree. What I was thinking in terms of "deep" was

[2021-02-09 17:47] dankelley opened #391 "is there something in an Argo netcdf file that makes it distinct?"
This comes up from the discussion of `qcApp()` but I think it's also more general.  I would like to know if there's something in Argo netCDF files that changes, each time the file is updated.  If so, then we coiuld uniquely identify a cycle by a triplet:
* float ID
* cycle
* this 'thing'

I am thinking it might be `DATE_UPDATE`.  I wonder (and this is to @cgrdn and @j-harbin), is that distinct, in

[2021-02-09 17:48] dankelley commented on #390
Oh, I see.  Yes, that makes sense.

[2021-02-09 18:08] cgrdn commented on #391
I have a feeling `DATE_UPDATE` gets updated upon pushing the file to the DAC, which means the answer would be yes any update would cause it to be modified. Anh would know for sure, I'll send her a message to confirm.

[2021-02-09 18:11] dankelley commented on #391
Thanks, Chris.  Also, I hope you don't mind, but I altered the bold-face markup in the issue template for the new QC repo.  (It previously had spaces inside the two-asterisk delimiters.)

[2021-02-09 19:22] cgrdn commented on #391
Pasted out teams conversation here, sounds like it is automatic and so would be reliable to identify Argo nc file versions.

CG:

AT:

[2021-02-10 14:47] j-harbin opened #392 "Should we have a time-series plot?"
This question is stemming from the development of `qcApp()`. Currently, we have a `plot(argos, which="profile")`, but we don't actually have anything that is a time series.

Does `oce` have anything like this?

[2021-02-10 14:49] dankelley commented on #392
The question is what ought to go on which axis.  We can z if you like.

[2021-02-11 19:17] dankelley opened #393 "mapApp() code should be re-indented"
In spots, the indentation is inconsistent, and since indentation is a cue used by many programmers, this ought to be changed.  Also, the indentation is mimicking an emacs notation that yields a *lot* of whitespace, as in the first snapshot below.  I prefer the second snapshot and so, as decided in a Z with @j-harbin, I will re-indent the whole thing.  For VIM users, the key is that I have as below

[2021-02-11 19:42] dankelley commented on #393
Done, as below, and checked with R-cmd-check and by using the app for a few minutes.

commit bf38beac2dfb93f22183806aacc7e40d95de76f6
Author: dankelley <kelley.dan@gmail.com>
Date:   Thu Feb 11 15:40:47 2021 -0400

    reformat mapApp() for issue #393

[2021-02-11 19:42] #393 closed

[2021-02-12 13:41] j-harbin opened #394 "argos[["ID"]] is problematic with multiple profiles"
`argos[["ID"]]` is problematic when there are more than 1 profiles (columns) in a cycle. The following code demonstrates what I mean.

[code]
Where there are 8 `argos` objects.

When we do the following code, however,

[code]

We see that there are 12 "IDs". This is a result of cycles with multiple profiles. This becomes problematic when using the `grepl` function, for example.
[code]

produces:

[2021-02-12 13:45] dankelley commented on #394
https://www.youtube.com/watch?v=GnodEEnMvC8

[2021-02-12 13:48] j-harbin commented on #394
Hahaha! I laughed way too hard at that.

[2021-02-12 13:52] dankelley commented on #394
The behaviour you report is the expected one.  Just as e.g. `[["pressure"]]` may return multiple columns, so `[["ID"]]` may return multiple character strings.

In my own code, I solve this by always using e.g. `[["ID"]][1]` for the ID, and similar for lon and lat.

Note that in these cases, `[[` is calling `[[,argo-method` since the item is an `oce:argo` object.  Within `oce`, we *could* put in so

[2021-02-12 13:55] j-harbin opened #395 "showQCTests() producing errors for cycles with multiple profiles"
Using the same code as in https://github.com/ArgoCanada/argoFloats/issues/394,

[code]
This works fine, however, `argos[[3]]` is two dimensional (ie. 2 profiles), and the following occurs:

[code]
[code]

As you can see the creation of `qcApp()` has been a great way to detect bugs!

[2021-02-12 14:00] dankelley commented on #395
bugs... https://www.youtube.com/watch?v=5utC_KI_SKo

[2021-02-12 14:34] j-harbin opened #396 "index[["ID"]] not always completely correct."
Again, using the same code from https://github.com/ArgoCanada/argoFloats/issues/394

[code]
produces

[code]

[2021-02-12 14:35] j-harbin commented on #396
Also, woah! Just noticing the cycle number on #2. It's 3210???

[2021-02-12 14:37] dankelley commented on #396
maybe a reprex on your prev comment?

[2021-02-12 15:14] dankelley commented on #396
Here's a reprex for the ID problem.  The reason it doesn't work is that the cycle number has 4 digits, and we coded it to only have 3 digits.  I'll change the regular expression.

[code]

<sup>Created on 2021-02-12 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-12 15:21] dankelley commented on #396
Fixed in "develop" branch commit 79e5cea43529717a21055be40974e1b663d1cce3; below is a demo.  I don't know if this cycle of 3210 is "real" (I don't believe any float can do that) or something like an error in a processing stream somewhere (investigator error or DAC error).  Anyway, now `[["ID"]]` looks for the cycle part being either 3 numbers or 4 numbers.

Seem OK now, @j-harbin?

A reprex follow

[2021-02-12 15:49] dankelley commented on #396
Actually, if `i` is of `index` type, then `i[["ID"]]` returns one value for each float cycle.  So, I could see an argument that the same should be true also for `a[["ID"]]`, where `a` is of type `argos` or type `profiles`.

And the same for `longitude` and `latitude`.

What do you think, @j-harbin?  We could hash it out over Z (today, next week, anytime) if you like.  I feel that between this and

[2021-02-12 16:34] dankelley commented on #396
Yeah, those cycle numbers are pretty weird.
[code]

<sup>Created on 2021-02-12 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-12 19:03] j-harbin commented on #396
As per the title of this issue, it has been fixed. Thanks to all.

Re: "Actually, if i is of index type, then i[["ID"]] returns one value for each float cycle. So, I could see an argument that the same should be true also for a[["ID"]], where a is of type argos or type profiles."

This ties into https://github.com/ArgoCanada/argoFloats/issues/394, and I will therefore leave that issue open. I sugg

[2021-02-12 19:03] #396 closed

[2021-02-12 19:35] dankelley commented on #374
I agree -- make argoFloats be all about oce, and argodata be about data frames.

It's pretty easy for a user to extract stuff and make a data frame if they want.  Therefore, I suggest you close this issue, @paleolimbot; of course, anyone else in the team might want to reopen it (or add comments even after it's closed).

[2021-02-12 20:06] #374 closed

[2021-02-12 20:32] richardsc commented on #374
Just a +1 for the different packages for different approaches. In fact, this was part of why I told @paleolimbot to just "go off on his own" to make a "tidy" version of an Argo package. People often talk about not reinventing wheels but I always find there's value in having a few different wheel types to choose from.

[2021-02-14 14:22] richardsc opened #397 "Add a function for creating "sections""
This started in a discussion over at dankelley/oce#1781, but has spilled into the `argoFloats` realm so I figured it was worth an open issue here.

Copied from oce issue:

@dankelley wrote:

The question is to what this new argoFloats function should be named. Since applyQC() is using a verb-noun format, I think that makes sense. (Plus, it's less arcane than the as.SOMETHING() scheme used in R, li

[2021-02-14 14:29] dankelley commented on #397
Here's an example of how a new function might work.  Of course, with a new function, we can add new arguments to do new things.

[code]

![](https://i.imgur.com/GRe0R1L.png)

[code]

![](https://i.imgur.com/QPEh79H.png)

<sup>Created on 2021-02-14 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-14 17:15] richardsc commented on #397
@paleolimbot you're on vacation!

But yes, I have to admit here that this was something I pointed Dewey at a little while ago, at least in the context of his `argodata` package. As we've been discussing elsewhere, this is part of the "variety of approaches" to building argo tools, so I don't necessarily think that they have to use the same backends (e.g. `section` objects).

As for your trial func

[2021-02-14 19:28] richardsc opened #398 "mapApp() code chunk should have `TSControl=` NOT `TScontrol=`"
A simple typo, found when I uncommented the `if (FALSE)` block from the code copied out of `mapApp()`:
[code]

which can be fixed by capitalizing the "C" in "TSControl". 😄

[2021-02-14 19:31] dankelley commented on #398
Happy Valentine's Day 💋

[2021-02-14 19:49] richardsc commented on #398
Fixed in b867ed3948

[2021-02-14 19:49] #398 closed

[2021-02-14 19:52] richardsc commented on #398
I know it took me longer to type the issue than to go and fix it, but I was in the middle of something else at the time, and was expecting a 2.5 year old to wake up from a nap any minute, and knew that if I started fixing it then I'd get distracted and would then forget about it .... so I opened the issue just to be safe 😄

And happy Valentine's Day to you @dankelley (it's a heart, see?)
![image](

[2021-02-14 20:01] richardsc opened #399 "plot(..., which="map") appears to have a doubled coastline"
See reprex, and look closely at the coastline. It looks like it's being plotted twice, at two different resolutions. (Also, check out this particular float, which has an interesting story)

[code]

![](https://i.imgur.com/WTtBySB.png)

<sup>Created on 2021-02-14 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-14 22:57] dankelley commented on #398
[code]

![](https://i.imgur.com/MDK1TPJ.png)

<sup>Created on 2021-02-14 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-15 15:24] dankelley opened #400 "mapApp(): need way to undo 'p' keystroke"
@j-harbin maybe you can add a keystroke to undo `p`.  Or at least document how to undo `p` in the help that comes from typing `?`.  I keep getting stuck on that. (PS. this is proof that `p` is a great thing ... I'm using it a lot today.)

[2021-02-15 15:30] dankelley commented on #400
Oh, I see that pressing `p` again toggles it.  I think we just need a phrase in the help box that comes from `p`, so I added one ("develop" commit fdd63f3326b757478e1d234baf23a01806291e78) and am closing this.

[2021-02-15 15:30] #400 closed

[2021-02-16 18:03] j-harbin commented on #394
Here is a reprex output from this example:

[code]

<sup>Created on 2021-02-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-02-16 18:36] j-harbin commented on #394
Fixed in commit 581d8bcafe2b1bb6b7be0e3956b0f21bfad805ba of develop.

[code]

<sup>Created on 2021-02-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-02-16 18:36] #394 closed

[2021-02-16 19:34] j-harbin opened #401 "Create "0" keystroke in mapApp"
As discussed in a vftf with Dan, this keystroke will allow the user to unzoom an area, but keep the same time scale.

[2021-02-17 13:30] j-harbin commented on #399
Good catch on this, Clark. This was a result of when I added in the `colLand` argument, I was drawing the `coastlineWorldFine` over everything. This was fixed in commit db60a7ff83540ea35add38b75b30d968c2bba904 of the develop branch. The new image is shown below.

![Screen Shot 2021-02-17 at 9 29 48 AM](https://user-images.githubusercontent.com/58750538/108211105-b413c580-7102-11eb-9d0f-e95d502a390

[2021-02-17 13:30] #399 closed

[2021-02-17 17:30] j-harbin commented on #395
Dan, maybe you could take a look at this?

I thought it would be the matter of adding [,1] somewhere because using the code above, if I then do:

[code]
both rows gave the same result:

[code]
When I do the following, however,

[code]
I receive:
[code]
indicating that maybe different profiles within a cycle pass and/or fail different tests?

[2021-02-17 17:32] j-harbin commented on #391
Dear reporter,

Do you think this issue (as defined by its title) has been addressed? If so, please close it. If not, please add a comment explaining what remains to be done. Thanks!

PS. This is a standardized reply.

[2021-02-17 17:53] dankelley commented on #395
I'll take a look.

[2021-02-17 18:27] dankelley commented on #395
This is fixed in "develop" commit 60cbbc3732da3fc125a04baadebe66396feca05d.  A reprex follows.  I'll let @j-harbin decide whether to close this.  Note that the formatting is just something that seemed ok to me, with indentation etc.; it's easy to fix that, if it's ugly.

[code]

<sup>Created on 2021-02-17 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-17 18:50] j-harbin commented on #395
This is great, Dan! Thanks for the quick fix. I checked it on my end as well and all looks good. I'll close this issue.

[2021-02-17 18:50] #395 closed

[2021-02-18 13:11] j-harbin opened #402 "subset by cycle for "argos" type not working properly"
I again found this as a result of the development of `qcApp()`. The following code demonstrates the problem:
[code]
Gives:
[code]
However, if we do:

[code]
The following occurs:

[code]
And we see it didn't actually subset

[2021-02-18 13:44] dankelley commented on #402
Who is assigned this?  (reprex?) (z?)

[2021-02-18 15:12] dankelley commented on #402
This is fixed in "develop" commit 8883a840c63ba5b36f3daae640f2aa3a25efc038.  The error was in using `keep` on `data@index`, which must have resulted from a copy/paste from similar actions for objects of type `index`.

<details><summary>reprex</summary>

[code]

<sup>Created on 2021-02-18 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-02-18 16:27] j-harbin commented on #402
Thanks, Dan! I can confirm this works on my end as well.

PS- I promise eventually I will get used to reprex..... :)

[2021-02-18 16:27] #402 closed

[2021-02-18 20:33] richardsc opened #403 "Can mapApp() have a progress indicator at startup for the download?"
Just wondering, sometimes it feels like an ETERNITY when I start up the app and wait for a map to show up -- long enough that I wonder if the whole thing has just hung.

Is there some kind of Shiny thing that could be used, with say the index file size, to give a progress bar for the download?

[2021-02-18 20:38] dankelley commented on #403
I think J ought to look into that.  With the state of shiny 2 years ago (when I wrote the glider-qc-app), the shiny progress indicator was itself slow.  But maybe that is fixed now, but it was not tied to fraction-of-work-done, but rather it was just a sort of "beachball" thing.  Now, though, I think there are better ways to get progress bars in shiny.

[2021-02-19 00:21] richardsc commented on #403
Another option, though not as generally user friendly and not something that helps if it ever gets deployed on a server (hmmmm ... I just remembered that I have a Shiny server ... and could put in a cron job to just keep the index fresh ....) could be to spit out a progress bar to stdout.  That way if you run the app from a terminal (or in RSTudio) you can at least see what it's doing in the backg

[2021-02-19 00:27] richardsc opened #404 "mapApp() should have a an "End" date option"
Given that you can choose a "Start" date, I'm curious why mapApp() doesn't allow you to choose the "End" date for a subset -- rather it appears to default to end on whatever is the latest date in the index. An example use case would be if I only want to view floats within a given time range, say 2018-01-01 to 2019-01-01.

[2021-02-19 11:16] j-harbin commented on #404
Are you working on the most up-to-date version of `mapApp()`? The reason I ask is because at one point I accidentally deleted the "End" date for subset. This was noticed by Dan (https://github.com/ArgoCanada/argoFloats/issues/384) and was fixed in commit cc016c0 of the develop branch a few weeks back.

The current `mapApp()` interface looks like this.

![Screen Shot 2021-02-19 at 7 10 25 AM](https

[2021-02-19 11:32] richardsc commented on #404
Oh shoot. I was afraid I was just missing something. I *thought* I was working from the latest version, but I think what happened was that I have it installed on my machine twice (once in Windows and once in the Windows Linux Subsystem) and I used the older one ...

Ooops!

[2021-02-19 11:32] #404 closed

[2021-02-19 11:35] dankelley commented on #404
https://www.youtube.com/watch?v=VC3thojIrFc

[2021-02-19 17:52] j-harbin commented on #390
This is solved in commit 09d6d9faea81bf1508a304f048bff50bdbd2a6ed of the develop branch.

[2021-02-19 17:52] #390 closed

[2021-02-19 17:54] j-harbin opened #405 ""deep" profiles not capturing "bgc" deep profiles in mapApp()"
When working on https://github.com/ArgoCanada/argoFloats/issues/390 I noticed that when "deep" is chosen, we look in the `profiler_type` in `I<-getIndex()` (See lines 134-156 in `R/mapApp.R`). This is problematic, because `deep` profiles exist within `bgc` Argo as well. See the `reprex` below:

[code]

<sup>Created on 2021-02-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-02-19 18:00] dankelley commented on #405
I'll defer to you to make the decision.  I'm not actually very clear about the distinction between `bgc` and `synthetic` (e.g. does the `synthetic` dataset contain every single `bgc` profile, and no non-`bgc` profiles?)

I feel that you'll make a good decision on this, so I say "go for it" and if problems develop, then they can be dealt with.

<details><summary>More information</summary>

[code]

[2021-02-19 18:21] j-harbin commented on #405
Hm, I am going to read into this. I was under the impression that `synthetic` was a combination of `core` and `bgc`.

However (see reprex below)
[code]

<sup>Created on 2021-02-19 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Where there are much more "core" than "synthetic". I'll look into this..

[2021-02-19 18:28] dankelley commented on #405
Do you mean

?

[2021-02-19 20:08] richardsc commented on #405
@cgrdn knows lots about the details of synthetic profiles ....

[2021-02-19 20:18] cgrdn commented on #405
Only BGC floats get synthetic profiles, and the BGC data in the S (synthetic) files should be exactly the same as the BGC data in the B files. The synthetic files also contain T and S data, but potentially a subset (or in rare cases, extension I suppose? If N_LEVEL of the B files is greater than N_LEVEL of the core file) of the T and S data found in the core files, as the nearest measurement is ta

[2021-02-19 20:26] cgrdn commented on #405
Re: there being more bgc than synthetic files, I imagine that is a product of some additional processing having to go into making synthetic files, so the most recent BR files may not have corresponding SR's yet.

[2021-02-22 13:58] dankelley commented on #403
I think the good option might be to check on the age of the index file, and put up a dialog box saying something like *"The local Argo index file is 2 weeks old.  Do you want to download a new version, which will take a minute or two?"*. That way, if there's a cron job to download it every night at 3AM or something, all will be fine for the user who wants to stay up-to-date.  And, of course, some

[2021-02-22 14:37] j-harbin commented on #390
Note: changes were made in commit 47776a08e6a064e5ca835e6d0576a0d83789ddee  of the develop branch, based on CG comments in https://github.com/ArgoCanada/argoFloats/issues regarding synthetic data.

[2021-02-22 15:38] j-harbin commented on #405
Thanks for this, Chris. That makes a lot more sense.

I'll take the approach of combining both "core" and "bgc". The below `reprex` shows the significance of not only using `core` data:

[code]

<sup>Created on 2021-02-22 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-02-22 16:36] j-harbin opened #406 "Something "funky" happening with BGC subset (mapApp)"
In the following photo we see between 2021-02-12 and 2021-02-22 there are 432 BGC profiles.

![Screen Shot 2021-02-22 at 12 31 57 PM](https://user-images.githubusercontent.com/58750538/108738540-16f1cc00-750a-11eb-995f-b0dbcc23a68c.png)

When we do the following code, however, we see there are actually 422 profiles.

[code]

<sup>Created on 2021-02-22 by the [reprex package](https://reprex.tidyver

[2021-02-22 17:26] dankelley commented on #406
In addition to the issue of whether we are using the same datasets (which won't be the same unless both use age=0 and are run within seconds of each other), there is also a question about just what those boxes mean.  You'll remember this from a Z call, I think, Jaimie.  Since we went into that in detail, I won't try to reproduce it here.

The diff is about 10 items out of about 400 items.  And sin

[2021-02-23 19:27] j-harbin commented on #406
**Finally** I've figured this out. There were a few things going on here. Firstly, line 466 changed from
` t <- try(as.POSIXct(input$start, tz="UTC"), silent=TRUE)`
to
` t <- try(as.POSIXct(format(input$start, "%Y-%m-%d", tz="UTC"), silent=TRUE))`,
which was a problem Dan and I have run into before (commit 20c6e30ac4998b3dfeca65100f420feb2dfb8659 of develop).

Secondly, the inconsistency in number

[2021-02-23 19:27] #406 closed

[2021-02-24 19:22] j-harbin commented on #392
This belongs in user space, until a user requests a feature with detail and an argument vis-a-vis general utility. Sic transit gloria Mundi. -- DEK

[2021-02-24 19:22] #392 closed

[2021-02-24 19:24] j-harbin commented on #391
The answer is at https://github.com/ArgoCanada/argoFloats/issues/391#issuecomment-776133262 so I'll close this.  Sorry for the passing of ages.

[2021-02-24 19:24] #391 closed

[2021-02-24 19:29] j-harbin commented on #379
I believe the text above has addressed the issue as titled. In the future I may investigate the meaning of "MC", but I'll close this now.

[2021-02-24 19:29] #379 closed

[2021-02-26 01:56] richardsc opened #407 "useAdjusted documentation is out of date now that oce CRAN is released"

[2021-02-26 02:03] richardsc commented on #407
Fixed in bb60bd5

[2021-02-26 02:04] #407 closed

[2021-02-26 18:48] j-harbin commented on #132
After meeting with D and C, we decided to reopen this with the following changes:
1. use `getIndex()` and not `data(index)`
2. Check for `dataMode` and `parameterDataMode` (?)

[2021-02-26 18:51] dankelley opened #408 "add useBest() function?"
We (I and @j-harbin and @richardsc) discussed this.  A rough code idea is as follows.  I won't explain more now but I'll fiddle with this over the weekend.
[code]

[2021-02-26 19:12] dankelley commented on #408
Um, flags need to be looked at too, don't they?  Q: is there one flag for e.g. `salinity` and another flag for `salinityAdjusted`?

[2021-02-26 20:28] dankelley commented on #408
I've done a test code (below) that yields some results (attached) that are useful in exploring what can be in files.  This code does **not** do all we want; I am just fiddling with ideas, and filling in blanks.

In the attached file, note

* items 1 and 23 (and others) are realtime by filename and realtime by `dataMode`, **but** have
 columns named as adjusted.  How can that be?  The values are al

[2021-02-26 20:32] dankelley opened #409 "automated R-CMD-check failure"
I think this problem started 2 days ago, and is related to the setup of the servers that do the checks (and not this package). Oh, the joy of constantly-evolving systems.

Perhaps this can be fixed by some fiddling in the action setup but I have other fish to fry and, if history is any guide, somebody else will report this as an error and it will get fixed at a lower level in a few days.

<img wid

[2021-02-26 20:53] dankelley commented on #409
Makes sense, Dewey.  I figure we can wait a while on this.  I prefer to wait for fixes, or to report problems if they don't appear, because that way other folks can benefit.  My guess is that those who will fix this up have already got some emails on failed builds, but they deserve a weekend :-)

[2021-02-27 12:11] dankelley commented on #408
Note: the above assumes that a given file has only one `DATA_MODE` value, but the following illustrates that this is not the case. (This does not contradict the results shown above; it just says that the code will have to work through the columns individually.)

<details><summary>Demonstration that dataMode can be a vector</summary>

[code]

<sup>Created on 2021-02-27 by the [reprex package](https

[2021-02-28 12:13] #409 closed

[2021-03-01 12:08] dankelley commented on #408
I have been looking into this for some cases.  In particular, https://github.com/ArgoCanada/argoFloats/blob/develop/sandbox/dek/13_useBest/13_useBest_02_a.Rmd looks at cycle 153 of float 4904013, which has 3 columns.  The `DATA_MODE` is `"DAD"`, meaning that the first and last columns are "delayed mode" but that the second one is "adjusted mode".

It is worth building the PDF for that Rmd file (ty

[2021-03-01 12:21] j-harbin commented on #408
I'll look into this now, Dan. Thanks for the detailed updated.

[2021-03-01 12:32] j-harbin commented on #408
The Argo user's manual (Carvel et al. 2019) tells us that `N_PROF` is the number of profiles in a cycle (remember multiple profiles mean multiple columns).  **Section 2.2.5 Measurements for each profile** on page 21-22 gives us all of the answers we are looking for.

When N_PROF > 1, DATA_MODE for each profile can be assigned differently. This is because when there are multiple profiles, delayed-m

[2021-03-01 13:07] j-harbin opened #410 "PROPOSAL: Tweak subset(index, dataMode="x") subset"
This is **not** a priority, but I wanted to make an issue before I forgot. Currently, to subset by `dataMode` we are looking in the filename for `R` or `D`. As we saw from discussion in https://github.com/ArgoCanada/argoFloats/issues/408 we see that we should instead be looking at the `DATA_MODE` column. Dan also noticed that multiple profiles within a cycle can have different data modes, so we wi

[2021-03-01 13:22] dankelley commented on #410
Thanks for adding this issue.  It's tricky.  If the `type` is `"index"`, then we do not have `dataMode` available for inspection.  That is only known for `type` of `"argos"`.  It's an open question as to whether for example a file that contains *any* delayed-mode profiles is given the filename prefix `D`.  A test of 200 randomly sampled (core) files yields as follows

<details><summary>Subset of o

[2021-03-01 13:37] dankelley commented on #410
What I see in the previous comment is that
* all files with prefix `R` have only `R` and `A` values in their `DATA_MODE` entries
* all files with prefix `D` have one or more `D` values in their `DATA_MODE` entries

Therefore, I think that `subset(index,dataMode)` is doing the right thing with respect to delayed and realtime mode.

Since the issue title points to `type="index"` objects, I think we

[2021-03-01 13:42] #410 closed

[2021-03-02 13:02] j-harbin commented on #403
Hi Team,

I did some work on this in commit db36f991b8c295792831a6f07d796b9962040d36 of the develop branch. I initially was working with `withProgress()` within `shiny`, but I personally found it was slowing things down. In saying that, I agree with Clark that it seemed like an eternity for everything to load up, and some times I didn't know it it was even loading. To fix this, I made messages com

[2021-03-02 13:04] j-harbin commented on #132
I'm going to close this, as we've discussed over Zoom. Also, refer  to the Argo User's Manual, page 22, it explains realtime data can have values that are **not** NA for `<PARAM>_ADJUSTED`

[2021-03-02 13:04] #132 closed

[2021-03-02 14:16] j-harbin opened #411 "Keystoke "r" not resetting time properly"
As a reminder, keystroke "r" returns `mapApp` to it's initial state (ie. it zooms to the full world view, and resets the time).

The problem arises if I:
1. Zoom in with brush
2. Change the time
3. Press "r" to reset the data
4. Click "Code"

The "code" button demonstrates that the start and end time go back to the initial state, however, the "Start" and "End" Widgets still show the changed dates.

[2021-03-02 14:24] j-harbin commented on #411
Fixed in commit 6f6f44f2dd6c8e7dc65a40742b5eeac769c3d228  of the develop branch.

[2021-03-02 14:24] #411 closed

[2021-03-02 14:35] j-harbin commented on #401
This took 2 weeks to do about 1 minute of work :)

It's done in commit 0f6eef9ee3c77225539d2fdae23fc0db85a736bb of the develop branch. I'll now close the issue.

[2021-03-02 14:35] #401 closed

[2021-03-03 12:58] j-harbin opened #412 "Change Kept x profiles to Kept x cycles"
Whenever we subset, we have a message that tells the user how many "profiles" were kept, see reprex below. It actually isn't the profiles, but rather the "cycles" (remember some cycles can have multiple profiles).

[code]

<sup>Created on 2021-03-03 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-05 18:05] j-harbin opened #413 "What happens to PARAMETER_DATA_MODE when N_PROF>1"

[2021-03-05 18:17] j-harbin commented on #413
See reprex below:

[code]

<sup>Created on 2021-03-05 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

@dankelley, I think this answers your question. If you agree, feel free to close this issue.

[2021-03-05 18:28] dankelley opened #414 "add subset(a, dataMode="") for "argos" objects"
This is different from the case where the first argument is of type `"index"`, in that it works column by column in the data, i.e. profile by profile in each cycle's data element, e.g.
[code]
would produce something that only had realtime data.

I need to decide what to do if a given argo cycle has no profiles of the given type.

[2021-03-05 21:16] dankelley opened #415 "please move qcApp and fix problems in mapApp"
@j-harbin, I know this is on your to-do list, so I've assigned this to you.  It would be great if you could do this before the end of next week.

I think you did the first part, relating to `qcApp`, in a git session that failed the other day.  The second part, about `mapApp`, should also be handled by you, since you added those lines for the `qcApp` project.

We want the package's "develop" branch

[2021-03-06 03:08] richardsc commented on #413
Can you explain the result here? How many profiles were in this cycle? Why do the 4 PDM entries have a different length?

[2021-03-06 11:04] dankelley commented on #413
I'll look at this over the weekend because it might impact argoFloats and oce.  I am going to use comments as working notes, meaning that I won't wait until I understand everything until I write something.  In direct answer to the question, we get 4 PDM entries of different length because that's what is in the file, as shown below. Note that oce trims the trailing spaces.  As to **why** the modes

[2021-03-06 11:16] dankelley commented on #413
This is what the columns are. **IMPORTANT:** I don't think oce is reading these right, because I don't see an "original name" of `PRES_MED`.

### The netCdf file

[code]

### What oce reads

Note that there is only one pressure listed; `PRES_MED` has not appeared.  I think `oce::read.argo()` should be modified to grab everything that seems to be a parameter.  (This does not explain the nature of t

[2021-03-06 11:26] dankelley commented on #413
I wonder whether @cgrdn can make sense of this netCDF file.  This might help us in our guessing-game.  The file is at

https://data-argo.ifremer.fr/dac/coriolis/6901494/profiles/BD6901494_352.nc

[2021-03-06 13:24] dankelley commented on #413
@richardsc below (click the 'details' word) is the answer to the mystery of how we can have just a single parameter measured in the first two profiles, etc.  The `PARAMETER_DATA_MODE` is consistent with `STATION_PARAMETERS`, so at least things are self-consistent.

I'm not saying that I *understand* the data, though, and I still would love to hear from @cgrdn or anyone else who has worked extensiv

[2021-03-06 19:32] dankelley commented on #415
Thanks, @j-harbin, this works great now.

[2021-03-06 19:32] #415 closed

[2021-03-06 19:34] dankelley commented on #408
I'm closing this, because we have decided through the course of multiple meetings, that this function is not needed at the moment.

Perhaps we'll resurrect the idea eventually, if there is a need, but the new `useAdjusted()` and `subset(argos,dataMode="")` methods seem to do what users will need, and our goal is to help users, not to fill out some hyperspace of "possible" feature worlds.

[2021-03-06 19:34] #408 closed

[2021-03-08 13:02] dankelley opened #416 "new version of useAdjusted()"
I now disagree with our previous conclusions that we can ignore the profile's parameter mode.  I'll explain this in a Z with @j-harbin at 0930 today.

[2021-03-08 13:04] dankelley commented on #413
To get an idea of the interlocking metadata values, see the reprex below
<details>
[code]

<sup>Created on 2021-03-08 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-08 13:27] cgrdn commented on #413
I haven't looked at the netCDF file itself yet, and I will today, but after reading this thread here are my first thoughts:

- The two single parameter data modes 'R' and 'R' are for the descent profiles
- The longer ones are organized according to the order in the `'PARAMETER'` field
- The descents are "empty" (all bad) because Argo typically doesn't like descents, and *certainly* not for bio-opt

[2021-03-08 13:57] richardsc commented on #413
I'm struggling to figure out all the reasons for the multiple profiles, but even on core floats I have seen instances where there is more than one profile in a cycle and it's not because there is a descent. Some floats have a "surface salinity sensor" that is used for sampling near-surface water after the SBE pump is turned off, and those data are diverted to a separate "profile" (even though it's

[2021-03-08 13:59] cgrdn commented on #413
This question about reasons for `N_PROF > 1` might be a good to submit at https://github.com/euroargodev/publicQCforum

[2021-03-08 16:05] cgrdn commented on #413
Tried to post a more general question in the QC forum - hope that's ok. Perhaps worth noting that there are 3 profiles in the descent version of the file @dankelley mentioned. In that file, also all the biological variables look like they are fillvalues to me except the last profile.

[2021-03-08 18:10] dankelley commented on #416
Before our meeting, I was thinking of dividing into these cases (quoting from R code comments)
[code]

but we (J, C and I) all thought that case 3 is not "supposed" to happen, and therefore should be dropped from the conditions.  As an extra check, since I do not always trust the Argo documentation, I decided to look for that condition in actual files.  I wrote code to examine 1000 randomly-select

[2021-03-09 15:19] dankelley opened #417 "plot() method does not obey xlim for profile type"
I'll worry about other types later (and, if broken, I'll make issues) but I want profiles working today.

<details><summary>reprex</summary>

[code]

![](https://i.imgur.com/6XQ44BH.png)

<sup>Created on 2021-03-09 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-10 12:47] dankelley opened #418 "unexpected dimensionality of PARAMETER field"
In working on `useAdjusted()`, I noticed something odd with `PARAMETER` values, as shown below.

This matters because `useAdjusted()` works by retrieving these values and then working through the data based on them.  For example, when it sees that `TEMP` is a measured parameter in a given profile, then it looks for a `temperatureAdjusted` field to copy into the `temperature` field.  It's important

[2021-03-10 17:59] dankelley commented on #418
That's not a problem with the file.  `ncdump` always gives those warnings.  Note that oce (the one on github, not the one in CRAN) saves the number of profiles as `nProfiles`; see below, where you can also see the trick for getting dimensions (you don't use `ncvar_get()` for that).

PS. I'll edit your comment to put in that 'details' thing.

<details>

[code]

<sup>Created on 2021-03-10 by the [re

[2021-03-10 18:16] dankelley commented on #418
I think that's right, Dewey.  Thanks.

[2021-03-10 18:26] richardsc commented on #418
Oh good catch Dewey.  This looks like the result of delayed mode processing, which as you can see from the comments is adjusting the pressure for a surface pressure offset (0.6 dbar), and applying some salinity corrections (recalibrations and cell thermal mass corrections).

Does this change our approach of using `unique()` when parsing out adjusted data, @dankelley ? I don't think so, but good to

[2021-03-10 19:50] dankelley commented on #418
Yes, I bet that's the best thing to look at.  @j-harbin is going to look into the docs to learn what the "official" system is.  I find it a bit scary to work by reverse-engineering files, which has burnt me a bit in the past.

[2021-03-10 20:06] dankelley commented on #418
I've recoded to use `STATION_PARAMETERS` and it improves the code.   (Were I to read code that had `unique()`, I'd start to what what the heck was going on...)

Therefore, I will now close this issue, although I hope @j-harbin will check into the docs for a section telling that this is the variable we want, after which I'll add a comment in the code stating that section number (alongside my commen

[2021-03-10 20:22] #418 closed

[2021-03-10 20:29] dankelley commented on #416
@j-harbin I think this is now ready for some testing ("develop" branch commit 0c3b0844eab2a51eaddcf1112ffdc1db63a3b306).

Please have a look.  Below is a checklist that might be useful.  Maybe we can zoom sometime this week, to go over this plus the paper edits.
* [ ] Does the output from `?useAdjusted` make sense?  Please suggest any edits that come to mind.
* [ ] Note that I have some tests in `

[2021-03-10 22:51] j-harbin commented on #418
Great catch on that, Dewey! Dan according to the manual, as I'm sure you saw, STATION_PARAMETERS refers to the list of parameters contained in this profile, compared to PARAMETER, which is the name of the calibrated parameter.

I encourage you to look at section **2.6.6 N_PARAM management in b-Argo profile files** of the manual. It provides a good example, where it shows a float with N_PROF > 1. S

[2021-03-11 10:39] dankelley commented on #414
I am closing this issue because I think the behaviour is fine as-is.

If a cycle has no profiles, we get back an entry with blanked-out data, meaning that the data structures are there for e.g. `pressure` and so forth, but the structures are empty, in the sense that `numeric()` is a numeric quantity, but with **no** value.

This is illustrated in the following reprex.

<details>

[code]

<sup>Crea

[2021-03-11 10:39] #414 closed

[2021-03-11 10:40] dankelley commented on #412
I figure we may as well clean this up before paper resubmission.  Did it fall under the radar, @j-harbin?

[2021-03-11 10:42] dankelley commented on #405
@j-harbin I wonder where we are on this issue?  I see that I'm assigned, but that you volunteered to do this, in your initial comment.

I don't mind doing it, but if you're spun-up on this, maybe you can do it?

It's nice to tie up loose threads.

[2021-03-11 10:43] dankelley commented on #403
@j-harbin I think you have done this already.  If so, please close.  If not, maybe we can discuss this (and some other open issues) in our next meeting.

[2021-03-11 10:47] #403 closed

[2021-03-11 10:52] j-harbin commented on #405
Hi Dan,

I don't mind doing this issue, however, the reason it hasn't been completed yet, was because if you remember we discovered on one of our many zooms that there was some confusion with the message (which is currently commented out) at line 141 saying "combining "core" and "bgc" data". We discovered this isn't actually what we're doing, and it impacts how we move forward with getting deep da

[2021-03-11 11:22] j-harbin commented on #412
You're absolutely right. It did fall under the radar. It's now fixed in commit 3b1481a3cc8cf6d981c1dd489edcd14e42c80f06  of the develop branch.

[2021-03-11 11:22] #412 closed

[2021-03-14 13:50] dankelley commented on #397
I see this issue is about to get an autoclose message from our trust friend, the stalebot. So, I thought I'd do a little test, with the `sf` package.  It's below, and is compared with `oce`, which is much faster on the distance computations.  Note that both cases are using distances to the points on the spline polygon, which is *not* what we want.  We want distance to the lines between the points

[2021-03-14 16:45] dankelley commented on #397
Thanks.  I'll take a look at this tomorrow.  I think a sphere will be good enough in practical work, which will almost always involve some twiddling of a distance criterion in combination with a time criterion.  I've created straight-line segments (for a class assignment) and found that in that case I had to go to a pretty wide area to get decent sampling along the line, even ignoring time.

I've

[2021-03-14 17:12] dankelley commented on #397
I just tried S2 and, wow, I sure like it!!

I wonder if I'm burning up too much time in the `sapply()`, making points one by one?  Any thoughts on that, @paleolimbot?  (I've not read enough of the S2 docs to see how to do common things, and didn't see examples in the ones I looked at, so I just started fiddling.)

<details>

[code]

![](https://i.imgur.com/gZ8EyzC.png)

<sup>Created on 2021-03-14

[2021-03-14 18:59] dankelley commented on #397
Oh, I see how now.  S2 for the win!  Elegance, speed ... you know, sometimes these newfangled things are fun to learn of ... https://www.youtube.com/watch?v=i7fF4UHEXNQ.)

<details>

[code]

![](https://i.imgur.com/rpSlyHq.png)

<sup>Created on 2021-03-14 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-15 12:53] dankelley commented on #397
Thanks, @paleolimbot.  My tests (but not the reprex below) suggests that `s2_geog_point()` may be a little faster than  `as_s2_geography(s2_lnglat())`.  But, even if not, I would still prefer using the single function call, to reduce code complexity for a newcomer unfamiliar with `s2`.

I didn't quite catch your comment about segmentizing and linear referencing, but I have not looked at the `s2` c

[2021-03-15 13:36] dankelley commented on #397
Oh, I see.  I think this aggregation step should be up to the user.  That's not something that is limited to argo data.  General tools can be applied to that problem.  (Oceanographers have lots of ideas on working with spatio-temporal data, ranging from old-fashioned semi-statistical methods to more modern approaches that connect data to physics, through data-assimilative methodologies.)

[2021-03-16 11:29] dankelley commented on #416
This has been discussed on several occasions, so I'll close this now.  Of course, anyone else should feel free to reopen it.

[2021-03-16 11:29] #416 closed

[2021-03-16 11:31] dankelley commented on #405
I'm not sure where we stand on this.  Want to z on it, @j-harbin?

[2021-03-16 15:18] j-harbin opened #419 "Example 12 in subset.R not working"
There is a problem with subsetting by a range of cycles. See reprex below

[code]

<sup>Created on 2021-03-16 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-16 16:44] dankelley commented on #405
J and I agree that this is okay.  The key thing is that the "ID" of every member of the BGC set is a member of the "ID" for the core data.  Below is a reprex showing this. (This reprex will become a comment in the code later today.)

[code]

<sup>Created on 2021-03-16 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-16 16:44] #405 closed

[2021-03-16 16:47] dankelley commented on #413
J and I agree that we now understand this, and so I'm closing the issue.  The main thing is that we now understand the entries shown in https://github.com/ArgoCanada/argoFloats/issues/413#issuecomment-791913478

[2021-03-16 16:47] #413 closed

[2021-03-16 17:20] dankelley commented on #419
J and I just fixed this in "develop" branch commit 94d117a68314c1516414082bf049b34d8b29e958 but we are keeping this open, so J can add a test to the test suite.  (That test can just just check the number.)

Also, J will check on whether it works on the "argos" type.

[2021-03-17 10:35] j-harbin commented on #419
This was working fine for "argos" type, but I added a test in commit fda8ee17d477c49e9b0def33a6a2ae1de98a8716 of the develop branch.

[2021-03-17 10:35] #419 closed

[2021-03-23 15:01] j-harbin opened #420 "Land should be plotted after Argo positions"
The need for this is highlighted in the following example, where it is anticipated that land is plotted over the Argo positions that were interpolated

[code]

![](https://i.imgur.com/P1lldeX.png)

<sup>Created on 2021-03-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-23 15:03] dankelley commented on #420
I think you mean land should be plotted "before" the positions.

[2021-03-23 15:33] j-harbin commented on #420
Thanks Dan. I updated the issue name.

[2021-03-23 16:48] j-harbin commented on #420
This is fixed in commit 798ca125c666eee8994cda3ebf3bfb6f7bc4725e of the develop branch.

Re: Our report and does interpolated data take land into consideration? The answer is yes. See reprex below:

[code]

![](https://i.imgur.com/UvE8GiQ.png)

<sup>Created on 2021-03-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-23 16:48] #420 closed

[2021-03-23 16:55] dankelley commented on #420
I'm mixed up.  Your second reprex looks the same as the first.  Does that mean that the float positions "skipped over" the land?  (I've not rebuilt the package to test.)

[2021-03-23 17:10] dankelley commented on #420
I think they must be using a pretty good coastline, from the example below.

<details>

[code]

![](https://i.imgur.com/3jyyU8x.png)

<sup>Created on 2021-03-23 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-03-23 17:11] j-harbin commented on #420
Yes, the float positions "skipped" over the land. I did still make it such that the points now plot AFTER the land in case this is not always the case.

[2021-03-23 17:12] j-harbin commented on #420
One last thing:

See the plot of latitude, longitude below

[code]

![](https://i.imgur.com/MRj4btD.png)

<sup>Created on 2021-03-23 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-23 17:25] dankelley commented on #420
J, any time for a quick Z?

[2021-03-24 11:07] j-harbin opened #421 "getIndex() should have args "traj" and "bio-traj""
As discussed in a vftf with Dan, a "traj" argument would allow users to get the core trajectory indices, and a "bio-traj" argument would get the BGC trajectory indices.

[2021-03-24 11:09] j-harbin opened #422 "We should add a getTraj() function"
As a follow up to https://github.com/ArgoCanada/argoFloats/issues/421, the `getTraj()` function would be similar to `getProfiles()`, but instead it would be used to get the profiles of trajectory indices (obtained with `getIndex("traj")` or `getIndex("bio-traj")`.

[2021-03-24 11:17] dankelley commented on #422
This is great.  If you get a chance, it would help a lot to put a link here for the source of a traj file.  I'd like to look inside, to see whether it's something that `oce` can read.  (As you know, the actual reading of data by `readProfiles()` is not actually done in argoFloats, but rather in oce.)

[2021-03-24 12:45] dankelley commented on #422
Actually, the format within argo netcdf files changes quite slowly, so it's not terribly hard for oce to keep up-to-date.  Also, the user base of oce is (and will likely always be) much larger than the argoFloats user base, so letting `oce::read.argo()` go out-of-date will be a disservice to the wider community.

My own usage might be typical.  I use argoFloats to locate data.  But once I have the

[2021-03-24 13:55] dankelley commented on #422
Agree.  I think it's best to develop new ideas in argoFloats, and only later consider the possibility of using those ideas in oce.

Why consider putting traj-reading code into oce at all?  Partly, this is because users benefit from sticking to CRAN-certified packages, and argoFloats is not on CRAN yet.  I install things from github all the time, but I don't always trust the quality as much as I do

[2021-03-24 17:42] j-harbin commented on #397
Hi Team,

I created a subset by "section" option in issue397 branch. I haven't pushed into the develop because I am waiting for the "OK" to do so. The following shows a reprex for an example

[code]

![](https://i.imgur.com/aO5aLSS.png)

<sup>Created on 2021-03-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-24 17:45] dankelley commented on #397
Any chance you could update your reprex to plot the lon-lat points of the section on top?  That would make a nice example ... and of course, it ought to go into the Roxygen for the `subset,argoFloats-method` function.

[2021-03-24 18:44] richardsc commented on #422
I don't have much to add that Dan hasn't said (about general purpose, etc), and I don't disagree that it's a pain to update oce when we find something about the `read.argo()` that isn't right, but another consideration is that `argoFloats` depends on `oce` for more than just the netCDF file reading -- there are plot types (TS plots), seawater functions, etc. So we could potentially get ourselves i

[2021-03-24 22:15] dankelley commented on #422
I thought it might be fun to take a peek at a traj file, so I sought out the ID that is stored in `data("argo", package="oce")`.  You can see the results in the details.  I conclude that this file is not interesting, at least in the sense that it does not hold hydrographic data.

Perhaps @j-harbin or @richardsc can look in that Hennon et al. (2014) paper cited above, to find the magic code that in

[2021-03-25 00:23] richardsc commented on #397
Ooooo @j-harbin that looks nice.

I'm going to try and find some time to play around with it.

Going forward it would be nice to connect this with the `oce` functionality in `addSpine()` which adds a "spine" to a section object and allows plotting along it (instead of distance, lon, lat, etc).

[2021-03-25 00:34] richardsc commented on #422
That one may be just too old to be a good example? I just grabbed the traj file for a float I've been looking at for another project (find it here: https://data-argo.ifremer.fr/dac/coriolis/6903075/), and I see as below:

[code]

![](https://i.imgur.com/670juyz.png)

<sup>Created on 2021-03-24 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-25 12:01] j-harbin commented on #397
Good idea, Dan. Here is a reprex of the same section, with the lat-lon points shown in red. The Roxygen has been updated to include this example in commit 4232f6a324cd577ce84f86deaf21ba66661750ea of branch issue397. Of course, as always, I'm open to feedback. Note the change in xlim range on the plot to show the first lat-lon coordinate, that doesn't have any floats around it because of shallow wa

[2021-03-25 12:12] dankelley commented on #397
You ought to merge it, but I'd suggest using `lines()` instead of `points()`.  You can call `lines()` in such a way as to get both line segments and points ... that's what people would like to see, I think.

PS. I recommend merging because (a) this will be an improvement, (b) it won't break existing user code and (c) the function is not likely to change radically (e.g. by renaming arguments).  Tho

[2021-03-25 12:38] dankelley commented on #422
I had a look at the data file Clark sent.  (Yes, Virginia, this is a reprex 😺.)

It looks as though the profiles are in there as well as the parked data. NOTE: I didn't bother with the QC flags for this test, but I suppose a lot must have been flagged, from those drinking-water salinities.

<details>

[code]

![](https://i.imgur.com/P5IRg2E.png)

<sup>Created on 2021-03-25 by the [reprex package](

[2021-03-26 10:27] j-harbin commented on #397
Done and merged into develop in commit 6737a0d78d32220cfd1c3229aff1a00f83cfbbf8. CR, feel free to close if you see fit.

[2021-03-27 14:28] dankelley commented on #422
I've been working on the oce version 1.4-0 submission to CRAN, and I realized that `read.argo()` already reads the trajectory files. Oce version 1.3-0 spits out a warning that `STATION_PARAMETERS` is missing, but version 1.4-0 will not spit that out, if it realizes that it is a trajectory file.  Also, the type of file is now indicated by `summary()`.  I'm putting a demo, based on the previous ones

[2021-03-29 15:43] j-harbin opened #423 "Add to processingLog when using subset"

[2021-03-29 15:44] j-harbin opened #424 "Create "section" vignette"
As discussed in a vftf with Dan and Clark, I will be creating a section vignette to highlight the use of the newly developed subset by section (https://github.com/ArgoCanada/argoFloats/issues/397)

[2021-03-29 17:16] j-harbin opened #425 "index[["processingLog"]] doesn't work"
`index[["processingLog"]]` doesn't work, but `index@processingLog` does. I know why this is happening, but will likely get to it tomorrow.

[2021-03-29 17:27] dankelley commented on #425
FYI the normal thing to do is to type
[code]
rather than
[code]
because the first scheme formats the time and comments nicely.  But, as you say, it makes sense for the latter to also give output.

[2021-03-29 18:08] j-harbin opened #426 "subset by historyAction example doesn't work"
For example 17 in the subset docs we have the following (see repex)

[code]

<sup>Created on 2021-03-29 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Of course this makes sense, because `historyAction` subset can only be done for "argos" type.

[2021-03-29 18:10] j-harbin opened #427 "Is code for "index" subset type written twice?"
I am working on adding the `processingLog` for subset functions. For index type, I've updated the processing log in commit cc47732a23099c7c5c42973ef5ee25265fcd573e of the develop branch between lines 573 to approx 847. It then seems, however, that index subset types are repeated.

For example. Line 966 says for `index` type if dotsNames[1] == "direction", and line 777 says the same thing. The same

[2021-03-29 18:12] j-harbin commented on #423
Done for `index` type in commit cc47732a23099c7c5c42973ef5ee25265fcd573e and `argos` type in commit 3d319647b5757dfff6a1d312fd5125f8370be10a. I am closing this issue.

[2021-03-29 18:12] #423 closed

[2021-03-30 11:37] j-harbin commented on #425
Done in commit 6a6b6135e39e40efc186a2c4dc43c55cde1410ba of the develop branch.

[2021-03-30 11:37] #425 closed

[2021-03-30 11:45] dankelley opened #428 "subset by section is not working correctly"
The following produces just 2 floats, but I know there are hundreds in this zone (a line from South America to Antarctica).
[code]

I think I have a solution nearly complete, so I won't bother going back a few steps to create a reprex.

[2021-03-30 12:00] dankelley commented on #428
Fixed in "develop" branch commit d5361d05da99db1cd9eabf8edc35920b1d6ba4a6, with reprex as below.  (You can see the meridional spreading here.  Also, note some floats near the coast of Antarctica, in shallow water.  Maybe they were released there?)

<details><summary>Reprex</summary>

[code]

![](https://i.imgur.com/VdUtdCl.png)

<sup>Created on 2021-03-30 by the [reprex package](https://reprex.tid

[2021-03-30 12:00] #428 closed

[2021-03-30 14:48] j-harbin opened #429 "Delete subset by historyAction"
The reasons are as follows:

1. The code is not currently working (and never has)
2. It would be complicated to individually go through each profile to subset
3. A user would never actually want to subset, for example, "profiles that have only had flags changed"

[2021-03-30 14:57] #429 closed, assigned to j-harbin

[2021-03-30 14:59] j-harbin commented on #426
Subset by `historyAction` has been deleted in commit 9fcb5c889aefb073365d5edc8e6d96514d26d770 of the develop branch. The reasons for this are explained in https://github.com/ArgoCanada/argoFloats/issues/429

[2021-03-30 14:59] #426 closed

[2021-03-30 15:46] j-harbin commented on #427
Fixed in commit 5493d01d128f25e018c00bafbb6ff3e68bf3ec49 of the develop branch.

[2021-03-30 15:46] #427 closed

[2021-03-31 02:25] #382 closed

[2021-03-31 11:38] j-harbin opened #430 "Subset by section acting "funky""
See reprex below for the unexpected behaviour

[code]

![](https://i.imgur.com/C3zTuCj.png)

<sup>Created on 2021-03-31 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Dewey, we are using the `sf` package to do this section plot, as you can see in lines 791-829 of R/subset.R. I was wondering if there is a way to avoid this "sphering" behaviour?

[2021-03-31 12:00] dankelley commented on #430
One approach is to add an arg that will make it use `approx` to construct a finer description (in lon-lat space, not geodetic space).  But it's already quite slow, and I'm guessing that the cost is O(n) where n is the number of points in the transect.

[2021-03-31 12:08] dankelley commented on #430
PS. oceanographic ship tracks are often set up to follow a line of longitude for a while, or a line of latitude, or a heading ... not a great circle.  This is in contrast to oil tankers, etc. that would be more likely to follow great-circle routes.  I'm the one who put in this `s2` method.  Jaimie had invented a method in which the lon-lat trace was widened into a polygon, and then the subset was

[2021-03-31 12:44] dankelley commented on #430
Thanks, Dewey.  I'm going to assign this to myself and code it.  (I pretty much decided on the UI last night.). I'll start by testing the O(n) aspect, because in practical cases (like this one) we'll want probably 100 or more points on the trace.

I like using geodetic methods because that solves the dateline problem.  And, although the Pacific is relatively poorly sampled by ships, the dateline i

[2021-03-31 12:51] j-harbin commented on #421
This has been completed in branch issue421 in commit 13f61c27df7fdf750f825cbb3818836d58a31714. A reprex is shown below for the `traj` argument.

[code]

<sup>Created on 2021-03-31 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

And for the `bio-traj` argument:

[code]

<sup>Created on 2021-03-31 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Dan, normal

[2021-03-31 18:03] dankelley commented on #430
J and I recoded this; J will write the docs and do O(n) calculations.

[2021-03-31 18:29] j-harbin commented on #430
This is now documented, and as shown by the reprex below, the code works.

[code]

![](https://i.imgur.com/fGFCjeA.png)

<sup>Created on 2021-03-31 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Further to our discussion, Dan, it seems as though the number of segments does not impact the time to subset.

I did the following code (restarting Rstudio between each time).

[code

[2021-03-31 19:08] dankelley commented on #430
Forgot to say -- I also vote that this issue be closed.

[2021-03-31 22:47] #430 closed

[2021-03-31 23:22] dankelley commented on #422
I think the distinction is that the argoFloats functions can deliver *sets* of argo objects, whereas `oce::read.argo()` reads just a single object.  That's why we have the "s" in the name of the package -- the goal is to make it easy for the user to download and organize files.  Imagine how a person would work, otherwise.  The steps would be

1. determine a focus, i.e. region/time/argo-type of int

[2021-03-31 23:25] dankelley commented on #422
PS to @j-harbin I edited your comment to put the details behind a "details" button.  When this is used, a person can more easily figure out the train of thought in an issue.  (I get lost scrolling stuff.  Too old to like the mouse, I think.)

[2021-04-01 11:33] j-harbin commented on #424
Hi Team,

I'm going to argue against making a special vignette for section data. The reasons are as follows:

1.  In our current vignette we explain and show examples of different subset types. I don't see how this is any different
2. In our current vignette we actually already discuss advantages of Argo section data. This was written a few months ago, so it uses subset by `rectangle` to compare s

[2021-04-01 11:39] dankelley commented on #424
I agree with this.  The only problem is that you've not instituted a vote!

**Proposal:** discuss subset-by-section within existing vignette.
**Voting scheme:** real number between -1 and +1, with -1 meaning to create a new vignette for the topic and +1 meaning to discuss it in the existing vignette.

DK vote: +1.

[2021-04-01 11:41] j-harbin commented on #424
Hehehe I really took control there didn't I :)

+1 from JH as well

[2021-04-01 11:47] dankelley opened #431 "overall argoFloats vignette not showing up in website"
When I go to https://argocanada.github.io/argoFloats/index.html and click on the "Articles" tab at the top, I only see the vignette on QC.  The main vignette is missing.

I don't quite know what controls this sort of thing.  I wonder if you can sort it out, @j-harbin?

[2021-04-01 11:52] dankelley commented on #424
@j-harbin you ought to add a line to the NEWS.md file to mention that we can now subset by section. Please follow the format of that file, and the terse writing style (we want all items to be just one line long, if possible).

[2021-04-01 11:58] dankelley opened #432 "bump version number?"
@j-harbin, I think that we ought to bump the version to 0.2.0, the first entry of which will be the subset-by-section that I suggested in another issue.

My goal is that the version active upon the publication of the FMS paper be a "minor" release, not a "subminor" one.  (First digit is "major", second is "minor" and third is "subminor".)

If you agree, @j-harbin, please take care of this.  It's s

[2021-04-01 12:33] dankelley commented on #431
Thanks.  I never would have guessed that.  (You can tell that I seldom refer to these webpages for any package, being familiar with the `?` method.)

[2021-04-01 12:33] dankelley commented on #431
I'm going to close this.

[2021-04-01 12:33] #431 closed

[2021-04-01 16:40] j-harbin commented on #432
Done like dinner! ( commit d2010d0abb50055f03776481ab69a3ade65693c3 of develop branch).

[2021-04-06 10:03] #424 closed

[2021-04-06 13:05] #432 closed

[2021-04-06 15:55] j-harbin commented on #421
As discussed with Dan, this is complete. I will push it into develop once the following checklist is complete:

* [ ] Fix `[[` for `cycles` and `ID` for subtype=trajectories
* [ ] Make `plot(which="map")` for trajectories subtype
* [ ] Create error (or warning) for other plot types

[2021-04-06 15:57] j-harbin commented on #422
As discussed with Dan in a vftf, we are not going to create new functions (ie. `getTraj` or `readTraj`). Instead, I have updated the docs to talk about subtypes (cycles for "non-trajectory" indices and trajectories for trajectory indices). This is done in commit bb02de26bb66d68bbeeee57f996535e6afa74c7d of branch issue421. I am closing this issue, but note trajectory "stuff" is not being pushed int

[2021-04-06 15:57] #422 closed

[2021-04-08 18:12] j-harbin opened #433 ""TS" plot for trajectory argos type not working properly (branch issue421)"
This issue relates to trajectories and is therefore only reproducible in the branch issue421. See reprex below for the problem:

[code]

<sup>Created on 2021-04-08 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

This should work, however, because when I individually make this into a CTD object it work's fine (see reprex)

[code]

![](https://i.imgur.com/sTck8Wh.png)

<sup>Cre

[2021-04-08 18:31] dankelley commented on #433
Hm.  I'll look.  It's one of the other arguments to the `oce::plotTS()` call, because if I remove them, it works.

[2021-04-08 18:35] dankelley commented on #433
Oh, I see.  If I remove the `eos` arg, it works.  The `eos` we are using in this package is `gsw`, and to compute the things of a TS plot, we need longitude and latitude, and not just salinity, temperature and pressure. Maybe the lon and lat values are NA at those spots where we have salinity and temperature.

[2021-04-08 18:46] dankelley commented on #433
Yes, that's it.  The snapshot plots "goodness" (whether not NA) for lon and lat.  Note that there are no points  on the top-right, meaning that whenever salinity is non-NA, then longitude is NA.

I think this is because no interpolation is being done for the in-water data. For those moments when lon and lat are available, the machine is at the surface (in radio contact to get the GPS signal) and h

[2021-04-08 18:48] dankelley commented on #433
This is what I'll get if I fill in the NAs using `approx` (red is what I'll get)
<details>
<img width="468" alt="Screen Shot 2021-04-08 at 3 47 31 PM" src="https://user-images.githubusercontent.com/99469/114080440-c9df7480-9881-11eb-9468-167719dbb967.png">

[2021-04-08 18:57] dankelley commented on #433
Done in commit e3f47f4e54b0f866e2bd74cc7d35991d8036cbae  of branch "issue421", with regexp as follows.

<details>

[code]

![](https://i.imgur.com/nvO3jtT.png)

<sup>Created on 2021-04-08 by the [reprex package](https://reprex.tidyverse.org) (v1.0.0)</sup>

[2021-04-08 19:15] richardsc commented on #433
I agree with this approach.

(Though it adds to my grumbles about using gsw vs unesco for stuff like this and the confusion that can cause ...)

[2021-04-08 19:47] dankelley commented on #433
@j-harbin I made a tiny mod (in this branch).

commit 81ee12ee2fa959482df9a0bde871b97e1c840f61
Author: dankelley <kelley.dan@gmail.com>
Date:   Thu Apr 8 16:46:24 2021 -0300

    don't bother NA-filling for lon and lat if all OK

[2021-04-09 10:30] j-harbin commented on #433
Thanks Dan! It all works on my end and I'll close the issue.

[2021-04-09 10:30] #433 closed

[2021-04-09 10:49] j-harbin opened #434 "PROPOSAL: Set flag =0 to be considered "good" data for applyQC"
Currently `applyQC()` treats flags 0,3,4,6,7, and 9 as "bad" data. A flag of 0 is "not accessed". This could be problematic as shown in https://github.com/ArgoCanada/argoFloats/issues/433 for example, which suggests all data are bad, but when I inspected the flags, they're just either NA or 0. Note: this example is currently only reproducible in branch issue421.

<details>

[code]

![](https://i.i

[2021-04-09 11:05] j-harbin opened #435 "Need to create subtype for "argos" type"
Dan, this is what I was trying to demonstrate on our Zoom call yesterday. You can see the problem in the reprex below, where the subtype should be "trajectories".

[code]

<sup>Created on 2021-04-09 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

In read.R line 91 we say ` res <- new("argoFloats", type="argos")`. I was thinking the solution to this was to do:

[code]

This wo

[2021-04-09 11:05] dankelley commented on #434
I wondered about that, too.  My guess is that trajectory files are simply not assessed.  But how do we colour them?  Do we guess good or guess bad?

I wonder if we ought to have a three-colour scheme:
* black if "good"
* amber (or something like that) if not assessed
* red if (in some way) bad

This is a bit like traffic lights, except that the default is black instead of green.  (I think black is

[2021-04-09 11:07] dankelley commented on #435
Can you state the branch name?  I could download and we could Z, which might make sense.

[2021-04-09 11:28] j-harbin commented on #434
Oh, I quite like that idea. If we take that approach, I vote flags 0 (not assessed), and 9 (missing value) should be amber.

[2021-04-09 11:37] dankelley commented on #434
+1 on your vote that 0 and 9 are amber.  Let's talk about colours. How about (as below) col=1 for OK, col=2 (like red) for bad, and col=7 (like amber) for questionable.

One thing that's confusing is that in `mapApp()`, we use amber for "core" positions.  That's because otherwise positions can look like islands.  But I don't really want to get too bound up in consistency, e.g. I like the green hue

[2021-04-09 11:38] j-harbin commented on #435
Whoops! The branch is issue421. Ready for a Z when you are.

[2021-04-09 11:38] dankelley commented on #435
I'll start a zoom at 0840.

[2021-04-09 13:46] j-harbin commented on #421
Done in commit 0990827a7f56c71f8909c796851ca83bc32e3473 of the develop branch.

[2021-04-09 13:46] #421 closed

[2021-04-09 13:46] j-harbin commented on #435
Done in commit 0990827a7f56c71f8909c796851ca83bc32e3473 of the develop branch.

[2021-04-09 13:46] #435 closed

[2021-04-09 13:46] j-harbin opened #436 "Create subset by rectangle for subtype = trajectories"

[2021-04-09 13:49] j-harbin opened #437 "Should we remove summary plot?"
I'm curious what @dankelley and @richardsc think about this. My reasoning is as follows:

1. We have never used it
2. Dan and I both forgot it existed
3. We never mention it in a paper
4. We never mention it in a vignette
5. We never demonstrate it in any Youtube videos
6. I don't know a practical use for it

[2021-04-09 15:37] dankelley commented on #437
I propose deleting it.  Let's vote, with -1 means keep it, +1 means delete it, etc.  If the sum of all our numbers exceeds 0, we keep it.

DK vote: -0.7

[2021-04-09 18:02] paleolimbot opened #438 "Improve speed of reading Argo NetCDF files"
I spent some time in the last few days seeing exactly how fast I could get Argo NetCDF files to read without dropping into C. The TL;DR here is that I switched to RNetCDF (from ncdf4) and can now read 1500 files in ~10 seconds (14 seconds on Windows). I also wrote the reader such that you can subset by variable before you read which gets the benchmark down to 1500 files in 1.6 seconds (9 seconds o

[2021-04-09 18:05] dankelley commented on #438
Thanks for this.  I'll look at it next week.  We've got to go over page proofs for the FMS paper in the next few days.

[2021-04-09 18:21] paleolimbot opened #439 "Progress bars don't display on Windows for readProfiles() until the last iteration"
Happy to look into this Monday, just wanted to post before I forget!

[code]

<sup>Created on 2021-04-09 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-04-13 12:27] #439 closed

[2021-04-13 12:56] richardsc commented on #437
I'm further from this that you too, but can I see an example of what you're referring to? It's not just the default `plot()` method I assume.

[2021-04-13 13:01] richardsc commented on #434
I like grey for "not assessed".

And @dankelley is right -- for the most part the data contained in traj files is not run through RT or DMQC (we were talking about it at Argo Canada recently, though).

[2021-04-13 13:45] j-harbin commented on #437
An example is as follows:

[code]

![](https://i.imgur.com/OpEq59e.png)

<sup>Created on 2021-04-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-04-13 13:50] dankelley commented on #437
I hate to say it (and I know I'm contradicting my vote from before) but now I think that plot looks pretty useful.  I'd use it in my own work, to get an idea of the space-time coverage in a region of interest.

New DK vote: +0.3

[2021-04-13 15:09] j-harbin commented on #437
Hm, I'm conflicted. I suppose at one point we felt this was necessary, which tells me we should keep it.

JH vote: +0.2

[2021-04-13 15:15] j-harbin commented on #434
Ok. I like the 3-colour scheme. However, when we have something like the following:

[code]

Would flags 0 and 9 show up in the "clean" data?

[2021-04-13 16:46] richardsc commented on #434
My opinion is that “not assessed” should *not* show up after a default call of `applyQC()`.

[2021-04-13 16:55] dankelley commented on #434
I agree with Clark on this; `applyQC()` should set unchecked data to `NAusing an `. For one thing, `applyQC()` is documented as using an `oce` function to handle the flags.  And therefore, we ought to do what `oce` does (and has done, for years ... users have a right to expect `oce` not to change unless there is a very, very good reason, and then only slowly, with notice of an upcoming change, etc

[2021-04-14 11:35] j-harbin commented on #436
This is partly finished in commit 7a062b1a9858ca2095c104d57a3640ebc134926d of the develop branch (see reprex below)

[code]

![](https://i.imgur.com/8kqL5mb.png)

<sup>Created on 2021-04-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Note: This only works if BOTH latitude_min, latitude_max, longitude_min, and longitude_max are within the specified rectangle. This idea is

[2021-04-14 14:05] j-harbin commented on #434
Flags that are 0 (ie. not accessed) now plot gray on the TS plot and the documentation has been updated. This was completed commit ca1a6a0371d16d5549191263345baa03911fcf4a in of the develop branch. See reprex below.

[code]

![](https://i.imgur.com/DyBsA9j.png)

<sup>Created on 2021-04-14 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-04-14 14:05] #434 closed

[2021-04-14 15:36] j-harbin commented on #436
Thanks for this Dewey! To do:

* [ ] Case 1
* [ ] Case 2
* [ ] Case 3
* [ ] Case 4
* [ ] Case suggested by Dewey

[2021-04-14 15:39] j-harbin commented on #437
I'm going to close this issue. We can always revisit it if we feel it's a priority to delete this plot type.

[2021-04-14 15:39] #437 closed

[2021-04-14 15:43] dankelley commented on #436
I think the right way to do this is to use an `sf` function to see if polygons (rectangles) intersect.  That would solve the dateline problem also.  Possible https://r-spatial.github.io/sf/reference/geos_binary_ops.html is a good place to start reading on that.

The advantage of this scheme is that all cases will be taken into account, and also the dateline issue won't come up.

[2021-04-14 15:56] j-harbin commented on #397
I'm going to close this, but of course since CR is the creator of the issue, please feel free to re-open if you have any further suggestions.

[2021-04-14 15:56] #397 closed

[2021-04-16 19:09] dankelley commented on #438
Thanks, I'll check into this.

[2021-04-19 11:32] j-harbin commented on #436
Hi Dan,

I've used the code that you are I worked through the other day (finding the intersect of 2 polygons), and I turned it more into code that will be useful for subset by rectangle. This can be found in commit 69308d9161eefb49a5df0e5fa6ba289b6290b95f of branch issue436. The problems I'm having are:

1. Line 599 of subset.R, I'm not sure what to do for "keep". When I look at what we did for po

[2021-04-19 11:40] dankelley commented on #436
Any chance you could indent the code thereabouts so I can see it better (and so that `git blame` will record the history better?

[2021-04-19 13:58] j-harbin commented on #436
Done in commit 23acd1424cbfd65992f89124372be7c28b7bcbe9 of the develop branch.

[2021-04-19 13:58] #436 closed

[2021-04-19 14:14] j-harbin opened #441 "getIndex() creating character type for latitude_min and longitude_min"

[2021-04-19 14:58] j-harbin commented on #441
Done in commit 503818363420a587a055feba34d2d2a510b0e3ad of the develop branch.

[2021-04-19 14:58] #441 closed

[2021-05-05 15:19] richardsc opened #442 "Consider how to download (and maybe read/merge) AUX files?"
Some floats I am working with have "AUX" files associated with them -- I haven't read all the documentation (like @j-harbin) but essentially the AUX files are used to store information that wouldn't normally be stored in the profile netCDF.

I wonder how hard it would be to be able to search for, and download, AUX files with argoFloats (when they exist)?

In my case I need to read variables from t

[2021-05-05 15:20] richardsc commented on #442
For an example, see (recently deployed) float 4902533:

https://data-argo.ifremer.fr/dac/meds/4902533/profiles/
https://data-argo.ifremer.fr/aux/meds/4902533/profiles/

[2021-05-05 15:58] richardsc commented on #442
They are still .nc files but not “regular” Argo CTD files.

![image](https://user-images.githubusercontent.com/233584/117171803-979e3580-ada1-11eb-9e40-44996deca340.jpeg)

[2021-05-06 01:35] richardsc commented on #442
Yes, they are. But they contain fields that are considered "extra" or "nonstandard" and so they don't exist for every profile. For example, the float above has AUX files because there is an internal temperature measurement that is important for doing post-processing of the conductivity/salinity.

So, for my case I'm thinking of:

1. A function that can find and download such files (don't know if t

[2021-05-06 11:47] dankelley commented on #442
Hi @richardsc please see below.  I'm wondering which fields are "aux" in this example.  (Maybe I don't have the right file?)

The example reads using oce, and then spits out all vars with ncdf4 (the latter includes things that go into `metadata` in an oce object, of course, but I'm just spitting out everything).

Am I right in assuming that the issue is that the "aux" files are on different pressu

[2021-05-06 11:53] richardsc commented on #442
No, I think they are actually defined on the same pressure levels, so the addition using something like `oceSetData()` shouldn't be too hard. I am planning on implementing this as I play with these files.

The point of this issue is to discuss whether we can find/download these files like we do with the regular profile files, and whether we want an automated method/function to merge the data.

[2021-05-06 11:53] richardsc commented on #442
Maybe after I've played around some more, it would be worth a f2f discussion.

[2021-05-06 12:03] cgrdn commented on #442
I don't really have much experience using them - I am _guessing_ that since they are less scrutinized you might occasionally run into situations where dimensions don't necessarily match the core file (a quick look at the aux file manual shows this description for N_LEVELS: "Maximum number of pressure levels contained in a profile. This dimension depends on the data set."). I just imagine the aux f

[2021-05-06 12:05] cgrdn commented on #442
Clark this obviously won't apply to your application of it - the extra variable from the CTD will of course match the dimension of the usual CTD data. Just thinking more generally where you might run into stranger things than that in an aux file.

[2021-05-14 12:18] j-harbin opened #443 "Improve mapApp()"
As discussed in a Z, there are a few things to fix with mapApp(). Some of these include:

* [x] Switch from Main to Trajectory tab resets the settings
* [x] When on trajectory view on a "single" view and switch to "all", it keeps time line of the previous float we were looking at

[2021-05-19 14:57] j-harbin commented on #443
Fixed in commit 8dbdc4e1e5c7de982b5c6be0736835db76a31490 and commit e02bdb157ce0dba7224faf82c12653a8863b6620.

[2021-05-19 14:57] #443 closed

[2021-05-24 02:44] #438 closed

[2021-05-31 12:32] j-harbin opened #444 "Should be able to subset by ID for argos type"
I'm doing some work with Argo floats, and I was under the impression we could subset for ID for `argos` type. It turns out we can only do it for `index` type. This tells me I should add in this subset type for `argos`.

[2021-05-31 13:28] j-harbin commented on #444
Done in commit 4f0874d45dbf41344fdcc9affe3ebf5d1d475318 of the develop branch.

[2021-05-31 13:28] #444 closed

[2021-06-07 12:38] paleolimbot opened #445 "`plot()` for index with `type = "l"` does not break line between floats"
I'm pretty sure it should unless the documentation suggests that it should only be used for one float? Or maybe I'm doing this all wrong?

[code]

![](https://i.imgur.com/bC8mcR4.png)

<sup>Created on 2021-06-07 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-06-07 12:42] dankelley commented on #445
I think it should break the lines, and I propose that @j-harbin make this change.  (I know, either @paleolimbot or I could make the change, but it's good to have @j-harbin's head inside the code.)

PS. that's an amazing pair -- a great example for an explanation of Lyapunov exponents (if I'm unconnecting the lines correctly)

[2021-06-07 12:58] j-harbin commented on #445
Good catch on this! I'll take a look now.

[2021-06-07 17:04] richardsc commented on #442
Thanks. I think this can be closed. It's clear to me mow that the use-case for needing AUX files is that someone needs something specific for a given float, rather than some general additional parameter, and so this shouldn't be treated the same as the regular Argo index/netCDF.

[2021-06-07 17:04] #442 closed

[2021-06-07 18:22] j-harbin commented on #445
This is fixed in commit 74d07f9223b66f9086984b521d11f8284d3ccabc of the develop branch. See reprex below

[code]

![](https://i.imgur.com/wYpz3Lw.png)

<sup>Created on 2021-06-07 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-06-07 18:22] #445 closed

[2021-06-07 23:20] richardsc commented on #445
Ok I am in love with these loopy Amazon twins.

Makes me want to look at the trajectory to extract eddy characteristics -- if those are 10 day cycles then that is a SLOWLY rotating eddy ...

[2021-06-08 12:06] dankelley commented on #445
This animation is super-cool!!!

[2021-06-14 13:15] j-harbin opened #446 "Make the code button in mapApp() work for the following"
* [x] if hires is selected (this is auto selected by default with plot,argoFloats-method
* [x] if topo is selected
* [x] if contour is selected
* [x] If a single float is clicked (ie. focus=single) with and without path
* [x] if End/ Start are selected for trajectories
* [x] if "without profiles" is selected

[2021-06-14 13:17] j-harbin opened #447 ""Start", "End", and "Without Profiles" action button missing on trajectories tab of mapApp"

[2021-06-17 12:21] j-harbin opened #448 "Settings tab in mapApp() should be fixed"
To do for the settings tab:

* [x] Format properly
* [x] When changes are made using Settings, make sure it keeps the view from main tab (ie. if a trajectory is displayed)

[2021-06-17 12:24] j-harbin opened #449 "Proposal: remove trajectory tab from mapApp"
The only functionality that the trajectory tab has that the "main" tab doesn't are three widgets (end, start, and without profiles - note there is a current bug that is actually preventing this from showing up). I argue we should remove the trajectory tab and simply have those widgets show up on the main page if "path" is selected.

Lets do a vote, -1 for keep the trajectory tab, +1 for remove it

[2021-06-17 12:26] dankelley commented on #449
DK vote:

**0.61803398875** (reciprocal of golden ratio)

[2021-06-17 12:50] richardsc commented on #449
CR vote: ![image](https://user-images.githubusercontent.com/233584/122399631-588f0280-cf51-11eb-8ad8-8a66e62b0bf8.png)

[2021-06-17 14:14] j-harbin commented on #449
As a fellow "not in the know" person. I appreciate this graph, Dewey :)

Adios, "trajectory tab".

[2021-06-17 14:16] dankelley commented on #449
Or, using the neat fact that R will plot a function for you, making up a data range etc

[code]

![](https://i.imgur.com/TZDgljt.png)

<sup>Created on 2021-06-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-06-17 14:20] dankelley commented on #449
Or, using Taylor expansion $sin(x) = x + O(x^2)$ so $sin(x)/x=x/x+O(x)$ which is $sin(x)/x=1+O(x)$ now take limit $O(x) -> 0$ and last term vanishes.

Hm. I guess I don't anymore have the macos latexit installed to convert those to math.

[2021-06-18 10:26] j-harbin commented on #449
Done in commit c8a3e45c2dd944a824edfcc0719fb4b88d3e7a25 of the develop branch.

[2021-06-18 10:26] #449 closed

[2021-06-18 10:52] j-harbin commented on #447
This has been fixed in commit 3cb1590ae2bbb809fb47de95ba9ee533811c050a of the develop branch. Note, the trajectory tab no longer exists, so instead, these widgets show up if "path" is selected on the main tab.

[2021-06-18 10:52] #447 closed

[2021-06-18 11:15] j-harbin opened #450 ""path" button only working with mapApp is in a single focus"

[2021-06-18 14:23] j-harbin commented on #446
Done in commit 16448aac8987164f0f77696327664967950a6b0f of the develop branch. I am therefore closing this issue.

[2021-06-18 14:23] #446 closed

[2021-06-22 12:45] j-harbin commented on #450
I was wrong on this and simply didn't see the lines attaching the points. I see I made this issue on a Friday so that will be my excuse :)

[2021-06-22 12:45] #450 closed

[2021-06-23 16:11] dankelley opened #451 "failing actions"
Hi @j-harbin -- maybe you ought to have a look at the "actions" tab.  I see that things are not working.  It gives error messages that are usually helpful in finding errors, so I recommend you spend a bit of time to figure it out.

Basically, the best plan is to have a look at the actions tab 15 minutes after each commit.

You can also see that the action failed because the status icon in the READ

[2021-06-25 13:26] j-harbin opened #452 "Change size of mapApp() default points"
I will likely change this to 0.8 rather than 0.5, but I will be playing around with it to see what looks best.

[2021-06-25 13:27] j-harbin opened #453 "Change "Core", "BGC", and "Deep" text depending on Settings"
Dan raised a good point that if a user changes the color of the argo points in the settings tab of mapApp(), it no longer lines up with the color of the text on the main screen. I will be fixing this.

[2021-06-25 15:25] #452 closed

[2021-06-25 17:17] j-harbin opened #454 "Fix border settings in mapApp()"

[2021-06-29 15:47] j-harbin commented on #448
This has been completed in commit 60ef09658adc5e6eadea6b0dd502b5de27c804d8 of the develop branch.

[2021-06-29 17:05] j-harbin commented on #453
This is complete in commit 279b55236b09e7dd3e5cae8caf0f657a04b136bd of the develop branch.

As a reminder for myself for future work, I used `paste0(as.raw(as.vector(col2rgb('red'))), collapse='')` to determine the hash code for a colour name. Thanks for the tip on this, Dan!

[2021-06-29 17:05] #453 closed

[2021-06-30 11:12] j-harbin commented on #454
This is working now, although I must admit, I didn't change anything. I will close for now unless we see it come up again in the future.

[2021-06-30 11:12] #454 closed

[2021-06-30 11:22] j-harbin opened #455 "keystroke "r" not always working in mapApp()"
When I do the following steps the "r" keystroke does not work:

1. Zoom into an area
2. Extend the time range
3. Click "path"
4. Click "without profiles"
5. click "r"

The following is the result:

![Screen Shot 2021-06-30 at 8 20 45 AM](https://user-images.githubusercontent.com/58750538/123952278-3008fe80-d97c-11eb-8945-009a8f80e871.png)

[2021-06-30 11:24] j-harbin commented on #448
Reopening this because this tab is not formatted properly.

[2021-06-30 11:24] j-harbin opened #456 "Remove "Hover mouse in plot to see locations; click-slide to select regions" on settings tab"

[2021-06-30 11:27] j-harbin commented on #456
Done in commit 2d9d585eea5570e2f798bc776cc971a6804b8077 of the develop branch.

[2021-06-30 11:27] #456 closed

[2021-06-30 11:31] j-harbin commented on #455
Fixed in commit 54d093f7fb2beaa485e658d3c387d6c893216b1b of the develop branch.

[2021-06-30 11:31] #455 closed

[2021-06-30 11:47] j-harbin commented on #448
Format fixed in commit e90b32910428509eeaa1e5378a05626432d54595 of the develop branch.

[2021-06-30 11:47] #448 closed

[2021-06-30 11:56] j-harbin opened #457 "Default path colour not always working"
When I do the following *for the first time*, I receive this error "Error: invalid color name 'default'".

1. Enter a float ID
2. Change the focus to single
3. Click "path"
4. Change the "path" colour to another color.
5. Change the "path" colour back to "default"

If I then, however, change it to another color, and go back to change it back to "default" it works.

[2021-06-30 11:59] j-harbin opened #458 "Changing path colour only works AFTER you change the symbol colour"
This is for mapApp()

[2021-06-30 13:35] j-harbin commented on #458
Fixed in commit 5922bcd40e1c6105220d2d56558bdbd4bf04d56e of develop.

[2021-06-30 13:35] #458 closed

[2021-06-30 13:36] j-harbin commented on #457
Fixed in commit 5922bcd40e1c6105220d2d56558bdbd4bf04d56e of develop.

[2021-06-30 13:36] j-harbin opened #459 "Remove widget and plot popups from mapApp()"

[2021-06-30 13:36] j-harbin opened #460 "Automatically select "core" on settings tab of mapApp()"

[2021-06-30 13:37] j-harbin opened #461 "Change border colours to names rather than numbers in mapApp()"

[2021-06-30 13:37] j-harbin opened #462 "Change path width options to range from 0.5-2 in mapApp()"

[2021-06-30 13:39] j-harbin opened #463 "Without profiles causing problems in mapApp()"
When you do the following steps, profiles do not show up again:

1. Click path
2. Click without profiles
3. unclick path

[2021-06-30 13:40] j-harbin opened #464 "Change "merge" variable name to "mai" in code button for mapApp()"

[2021-06-30 13:44] j-harbin commented on #462
Done in commit 1f380223173be693abb18f9bc70d2d91be896a41 of develop.

[2021-06-30 13:44] #462 closed

[2021-06-30 13:47] j-harbin commented on #461
Fixed in commit 3a65f790aba389fa3761807c45a4095bd0e6fede of develop.

[2021-06-30 13:47] #461 closed

[2021-06-30 13:50] j-harbin commented on #464
Fixed in commit 4d9e38d6d14ee33e490cd8cba0e10dcf09aed121 of develop.

[2021-06-30 13:50] #464 closed

[2021-06-30 13:56] j-harbin commented on #459
Done in commit e96843799ec04e4936ec1361c582eb518a045343 of develop.

[2021-06-30 13:56] #459 closed

[2021-06-30 13:59] j-harbin commented on #460
Done in commit bf11a3e6cab2ee36428652b12d66d6c2cf4dc27c of develop.

[2021-06-30 13:59] #460 closed

[2021-06-30 14:02] j-harbin commented on #463
As an update to this, the "action" buttons (ie. without profiles, end, and start) do not have the ability to turn off. ( I'm just making this note for myself).

[2021-06-30 14:30] j-harbin commented on #463
end and start were fixed in commit ab9ee46b5f7fb3b5a30b9c8c025580d15c35731d. without profiles is still causing an issue because we only plot the positions of argo floats if state$action != "lines"

[2021-07-05 10:09] dankelley commented on #451
Hi @paleolimbot.  I wonder if you have some advice on getting R-CMD-check to work for argoFloats.  It has been failing for quite a while now, and so I fiddled (uselessly) over the weekend to try to figure out why. (https://github.com/ArgoCanada/argoFloats/actions/workflows/R-CMD-check.yaml is an embarrassing record).  My guess is that there were different reasons at different times, so I think the

[2021-07-05 12:26] dankelley opened #465 "failing local tests"
I just pushed "develop" commit fe5a517c56f64c36897ed7604a90361688cfd8c4 but it is *not* ready for use, because it is failing local tests.  The odd thing is that if I run the tests in `tests/testthat/test_download.R` by clicking the "Run tests" button in RStudio, then no errors occur.

I'll look into this today.

[code]

[2021-07-05 12:32] dankelley commented on #465
Also, the 'merge' tests work fine when run individually.
[code]

[2021-07-05 14:16] dankelley commented on #465
Fixed in "develop" commit  9e22a1b74f2db96d7370706af5df132fccd0d613, basically by undoing most of the crazy fiddling that I did over the weekend.  Local tests now work fine.

[2021-07-05 14:16] #465 closed

[2021-07-07 12:18] #451 closed

[2021-07-07 12:45] dankelley commented on #451
Thanks very much for this, Dewey!  I see you've fixed and merged it into the "develop" branch, which is great to see.

[2021-07-08 11:33] j-harbin opened #467 "User does not have the option to select nothing for bgc, core, or deep"
Likely the user would never want to not have either core, bgc, or deep selected. However, this is a bug because if I click off deep, and core, for example, they disappear. If I then click off deep, they won't disappear. The solution to this bug is also the solution for https://github.com/ArgoCanada/argoFloats/issues/463

[2021-07-08 11:35] dankelley commented on #467
Um, they might want to have nothing selected.  That could be a way to get a bathy map.  You never know just what cool things users might try :-)

[2021-07-08 13:42] j-harbin commented on #467
Fixed in commit 3138fa5c8bf3302af81455bf348d3327289ce9f0 of develop.

[2021-07-08 13:42] #467 closed

[2021-07-08 13:42] j-harbin commented on #463
Fixed in commit 3138fa5c8bf3302af81455bf348d3327289ce9f0 of develop.

[2021-07-08 13:42] #463 closed

[2021-07-08 13:42] j-harbin opened #468 "Computing deep profiles is taking very long"

[2021-07-08 13:57] j-harbin commented on #468
I was doing this wrong.

[2021-07-08 13:57] #468 closed

[2021-07-08 14:02] j-harbin opened #469 "Make font smaller for lat/lon in mapApp()"

[2021-07-08 15:07] dankelley opened #470 "mapApp() should not indicate nearby float if no floats displayed"
See below.  I think the message should only show the lon and lat.  If you agree, @j-harbin, please change it.

Also, I think if e.g. the user is only showing "core", then the nearby message should be restricted to the core data.

In a nutshell, I think mapApp should only indicate proximity to the nearest *visible* float.

<img width="1022" alt="Screen Shot 2021-07-08 at 12 04 13 PM" src="https://u

[2021-07-09 11:11] j-harbin opened #471 "Reference paper throughout docs"

[2021-07-09 11:14] j-harbin opened #472 "Prepare for a release to CRAN"
When we get all the bugs fixed, we ought to untick each of these, and then go through the list again.  A ticked-off item here merely means that it's been addressed at least once, but as code changes, we need to revisit each of these.

* [x] address all open issues
* [x] #486
* [x] #482
* [x] do another clarifying editing pass on the docs
* [x] #487
* [x] `devtools::check_win_devel()` R-unstable <b

[2021-07-09 15:02] j-harbin commented on #469
Done in commit 96cac5f825ae96683b542be48019bfe1ea22692c of develop.

[2021-07-09 15:02] #469 closed

[2021-07-09 16:35] j-harbin commented on #471
Done in commit 0998c69152736f59e1e8f4c6a092f818e187160a of develop.

[2021-07-09 16:35] #471 closed

[2021-07-09 18:34] dankelley commented on #470
Um, I think this works.  I was wrong. *"Ah, but I was so much older then ... I'm younger than that now."*. (https://www.youtube.com/watch?v=92cF_KCH7TU)

For this issue, it's *"Closing time"* (https://www.youtube.com/watch?v=mKFCp9P0cFc)

PS. those links are worth a listen, if you're too young to know what songs I'm hinting at.

[2021-07-09 18:34] #470 closed

[2021-07-16 12:20] j-harbin opened #473 "Is it possible that later cycles have different flags?"
Hi All,

I'm cleaning up the docs for argoFloats and I noticed in plot.R there is a "FIXME" that says: "Is it possible that later cycles have different flags?".  I haven't looked into this in great detail to know if the answer to this will impact our code or not. However, I realized I don't actually know the answer to this question. @cgrdn do you have any ideas?

[2021-07-16 12:25] dankelley commented on #473
@j-harbin in cases like this, it can be helpful to insert a "permalink" to the code.  It's easy -- navigate in GH to the code, and then click on a line, then click on the three dots, then click for 'permalink' and insert that into a GH comment.  I've done that below. The advantage is that it saves others from searching for a string (and maybe there's a difference in upper or lower case etc).

http

[2021-07-16 12:36] j-harbin commented on #472
@dankelley , I believe steps 6:9 need to be completed by you. I say that because the results get emailed to the associated email with the package (which is yours). It seems to not give me the option to have them sent to me. See below

![Screen Shot 2021-07-16 at 9 34 57 AM](https://user-images.githubusercontent.com/58750538/125948474-0ba6008d-c724-4114-aecc-4b95e9b86c23.png)

I'm not saying this i

[2021-07-16 12:48] dankelley commented on #472
I think you can those checking functions have an arg called `email` that should (might) help.  Maybe you can try.

[2021-07-16 13:15] cgrdn commented on #473
Sorry I don't think I understand the question. Different flags than what? Later than when?

[2021-07-20 11:36] j-harbin commented on #473
@cgrdn , for example, if we were looking at a single float ID, can different cycles within a single float ID have different associated flags? I'm assuming yes, but I haven't seen this specifically mentioned anywhere.

[2021-07-20 16:34] j-harbin commented on #473
The following reprex shows that, yes, flag numbers can change between cycles. Also, of course this makes sense, because there may not be the same number of measurements for temperature for example, between samples depending on depth. I am therefore closing this issue.

[code]

<sup>Created on 2021-07-20 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-07-20 16:34] #473 closed

[2021-07-20 18:01] dankelley commented on #473
I thought this was a question about flag names, not values. As an example, maybe cycle 10 has flag entries for salinity, whereas cycle 11 does not have such entries.  If `A` and `B` are different cycles, a test would be
[code]

[2021-08-04 13:06] j-harbin opened #474 "Add colour picker to mapApp"

[2021-08-09 10:12] dankelley opened #475 "problem with installed package size (?)"
I wonder if @paleolimbot might be able to help with this issue, since he has helped before with decisions of what goes in Depends, Suggests and Imports, and also with the issue of package size.  The questions are
1. Do you think we need to worry about package size?
2. If so, do you have ideas for reducing the size, or phrasing an explanation in a CRAN note?
3. Whether I ought to ask about this on

[2021-08-09 11:07] dankelley commented on #475
Although I've not figured out how to see what's in that `.rds` file, I'm putting below a method for finding out what's in the `.rdx` file that sits beside it, in that directory. (The listing looks to contain just the `argoFloats` functions, not other things.)
[code]

[2021-08-09 12:24] dankelley commented on #475
Hm.  I tried a fresh `git clone` and the problem persists, as below (macOS).  Maybe this is an odd feature of how I have my machine set up.  So, Dewey, you don't get the message when you use `--as-cran` in your `R CMD check`?

<details>

[code]

[2021-08-09 12:37] dankelley commented on #475
To see if this is a macOS thing that's particular to my own machine, perhaps either @j-harbin or @richardsc could try as below, to see if you get the NOTE about an installed size of 9.0Mb?
[code]

[2021-08-09 12:55] dankelley commented on #475
Looks like maybe something is weird about my machine.  I have an rhub check in progress right now, and I'll post the results from that.  If we can get a test from at least one other macOS person in our team, I'd feel comfortable putting this issue to rest.

[2021-08-09 13:04] dankelley commented on #475
The rhub results are in, at
*    https://builder.r-hub.io/status/argoFloats_0.2.0.tar.gz-9cf38bb3b2644c79a1fc7a648b591462
*   https://builder.r-hub.io/status/argoFloats_0.2.0.tar.gz-8e468ee6c5b743358237734e044e6b7e
*   https://builder.r-hub.io/status/argoFloats_0.2.0.tar.gz-cea80569fe3d486ca5d15e74e29797e0

One worked, and the other two failed.  The failures were because the `remotes` package was

[2021-08-09 13:16] dankelley commented on #475
The rhub check on macOS is in.  The email says "PREPERROR" but when I follow the link (https://builder.r-hub.io/status/argoFloats_0.2.0.tar.gz-b6637bc4be204ce485c37eaa094d825d) the top line says "success".   I think the former is the truth, though, because when I look at that URL, it shows failure to set some things up.

So ... did this work, or not?  Frankly, I'm not too sure, but I lean towards

[2021-08-09 13:19] richardsc commented on #475
On Ubuntu 18.04 (Windows subsystem for Linux), I get the same as Dewey:

[code]

[2021-08-09 13:22] richardsc commented on #475
Just for fun I'm going to try using the commands @dankelley did (rather than the `remotes` package). Will post results when finished.

[2021-08-09 13:36] dankelley commented on #475
Just for fun, I tried Dewey's procedure and got
[code]

Maybe I have something odd about my setup, which is
[code]
(note the Beta).

[2021-08-09 13:37] richardsc commented on #475
Interesting using the CLI commands comes out a little bigger, but I think it might be due to a warning that I'm missing `qpdf`?
[code]

Check log is:
[code]

[2021-08-09 13:39] dankelley commented on #475
Hm, Clark's "Failed to create bus connection: No such file or directory" is a new one on me.

[2021-08-09 16:26] j-harbin opened #476 "mapApp() "Settings" tab not formatted properly initially"
As shown in the screen shot below, when mapApp() initially loads up, the settings tab format is not good. However, in the second screen shot you see that when I extend out the mapApp() tab (clicking and dragging the border of mapApp()), it looks fine).

![Screen Shot 2021-08-09 at 1 26 17 PM](https://user-images.githubusercontent.com/58750538/128740374-b39f5a42-3686-42d5-be04-4ce037862647.png)

![

[2021-08-09 16:39] dankelley opened #477 "2. ensure that rhub or win_check does not report on broken URLs."
The goal is to avoid a NOTE entitled *Found the following (possibly) invalid URLs* being produced by local `R CMD check` tests or `devtools::check_win_release()`.

[2021-08-09 17:02] dankelley commented on #477
Solving this is easy.  In Roxygen/markdown files, simply change e.g.
[code]
to
[code]
and rebuild (so that the changes propagate into help pages and vignettes).

[2021-08-09 17:11] dankelley commented on #477
I'm seeing as follows, but when I try the links, they clearly work. Also, these are old links and I never saw the problem until the last two trials (within the last hour).  Therefore, I am not going to change the links to non-links.  (Heck, one is an **orcid** link -- if there are some links that ought to be clickable, they ought to be orcid links, or everything about academic publishing is threat

[2021-08-09 17:22] richardsc commented on #475
I don't know what the bus issue is -- probably some Windows/Linux communication problem, but installing qpdf made no difference.

It's interesting that `remotes::install_github()` produces a smaller package than the straight up `R CMD` approach (though, in my case, by <1MB).

[2021-08-09 17:41] dankelley commented on #477
Oh, look. Some new loose threads.  Thanks for the heads-up on that package, Dewey.  It's a bit strange how it has a problem in the README, with a badge that I imagine was suggested automatically.

[code]

[2021-08-09 17:42] dankelley commented on #475
Sorry, Dewey, I don't quite understand your just-previous comment.

[2021-08-09 18:11] dankelley commented on #477
I propose to keep the badge, since the badges are so helpful to users.  (I would not actually normally install anything from github unless it had a "clean" badge.)

Besides, I've not seen a complaint about the badge before, on what I regard as the key evaluator (secondary to the CRAN checks, of course): the windows check machine.

[2021-08-10 11:34] j-harbin commented on #475
Sorry I'm late to the party.

When I do Dewey's method on my macOS I get the same as Dan:

[code]

<sup>Created on 2021-08-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-08-10 11:41] dankelley commented on #475
I wonder whether the R version is a factor here.  I am on 4.1.0, and I think Jaimie is also.

[2021-08-10 12:50] dankelley commented on #475
I tried `remove.packages("oce")` and then `install.packages("oce")`, to use the oce from CRAN (as opposed to my local version).  I did the same for `"gsw"`.

And now, within RStudio, I don't get that warning.

Maybe Jaimie can try the same.  If we both get that there is no NOTE about size, then I think things are fine, and I can close this.

[2021-08-10 12:51] richardsc commented on #475
I did the same as Dewey -- upgraded to R4.1.0 on OSX and installed, and I *also* get the same 2.7MB installed size.

[2021-08-10 17:21] dankelley commented on #475
Here's what I get (with `oce` from CRAN)
[code]

However, when I do `R CMD check` on the tarball, I see
[code]
and I hope that overall size doesn't mean a CRAN problem.  (I sort of recollect that the "bad flag" is raised when individual components are over 5Mb ... but that's a foggy recollection, to be honest.)

[2021-08-11 11:23] dankelley commented on #477
I'll close this, because it's been done in the immediate situation.  Besides, it's covered by the checklist item(s) about using `check_win_release()` etc.

[2021-08-11 11:23] #477 closed

[2021-08-11 11:30] dankelley commented on #475
I am closing this, because the problem is not reported in the `check_win_release()` output, nor in cases where the associated packages (like `oce`) are installed from CRAN (which will be the case for CRAN tests upon package submission).

Thanks to all, for their patience in this.

[2021-08-11 11:30] #475 closed

[2021-08-11 11:46] dankelley opened #478 "mapApp proposal: default should show all 3 argo types"
I mentioned this separately, but I'm making an issue to keep track of the idea.  To me, it makes sense, and therefore I plan to do it this afternoon, unless @j-harbin objects.

[2021-08-11 11:52] dankelley commented on #476
I'm not sure I follow this.  @j-harbin, did you put your screenshots in the wrong order?  I get the something like second of your screenshots when I load up `mapApp()`.  And it doesn't really change when I alter the window size.

Maybe it's different on different machines?

Also, I'm not too sure what you mean by not being formatted properly.

It might help to Z about this, since it's one of 3 iss

[2021-08-12 12:24] dankelley commented on #476
During a f2f, J and I agree to close this, because it doesn't appear on my computer.  I think it's just one of those things that happens in web browsers, generally, and so it's not a problem with our code.

[2021-08-12 12:25] #476 closed

[2021-08-12 13:38] j-harbin opened #479 "11. spell check with develop::spell_check()"

[2021-08-12 15:08] j-harbin commented on #478
Ok,

I remember why we decided to have core, bgc, and deep not show up as default. In mapApp, line 311, we have `ignoreNULL=FALSE`.

When we remove this, core, bgc, and deep DO show up as default, however, the user then does not have the option to click off NO bgc, deep, or core. I can't imagine a time where they would want to do that, but it is not intuitive when you click off all of the options

[2021-08-12 15:09] j-harbin commented on #478
PS - See https://github.com/ArgoCanada/argoFloats/issues/467 for the issue on having nothing selected.

[2021-08-12 15:41] dankelley commented on #478
Oh, this is ringing some bells now.  Sometimes a person might want to use this to get just a map, with no floats.  But, really, we could add that as a separate option *if we wanted*, perhaps by having a separate button called "Show only bathymetry" or whatever...

But do we want to do that?  I think not. There are other ways for folks to get maps, and it's not our responsibility to give them a nic

[2021-08-12 15:54] j-harbin commented on #478
Amazing! I agree with all of the above. This is fixed in commit 216807fa5d6fd578327a1fb556bf1823e0aca22e of develop. I will now close this issue.

[2021-08-13 10:29] dankelley opened #480 "mapApp: add pch images"
I can do this, but want to wait until @j-harbin finalizes the other open `mapApp()` issues, because adding the image will require me to move source around, etc. and that will cause git problems if J is editing `R/mapApp.R`.  Also, once I do that, the `source("R/mapApp.R");mapApp()` procedure will fail; it will be become necessary to do a build/install for each test.

It will only take me 10 minute

[2021-08-13 11:46] j-harbin commented on #479
This is done in commit 292eed633f14768e2e92227fff5e43cc1a1ff202 of develop.

[2021-08-13 11:46] #479 closed

[2021-08-13 13:08] dankelley commented on #478
Hm.  The interface lets me unclick all 3 types, but it still shows the last type that I had clicked.  That will be counter-intuitive to users, so I'm reopening this, in hopes that @j-harbin can fix this.

[2021-08-13 14:33] dankelley commented on #478
During my run, I remembered why this occurs.  I think we ought to go back one step, to when the initial view showed no floats.  That way, the GUI and the graph will agree.

[2021-08-13 15:48] j-harbin commented on #478
Done in commit 72f068ac5b43521d79c35b80c99b006842d04a01 of the develop branch.

Just to confirm, this is now the initial view of mapApp(). If you're satisfied with this feel free to close the issue :)

![Screen Shot 2021-08-13 at 12 46 09 PM](https://user-images.githubusercontent.com/58750538/129385177-d8609e93-792e-4ee9-b564-a4caa4eb8e9b.png)

[2021-08-13 15:54] dankelley commented on #478
This looks great.  Thanks, J!!

[2021-08-13 15:54] #478 closed

[2021-08-13 17:39] dankelley commented on #480
I thought I took detailed notes when I did this last time but ... if I did, I can't find them :-)

So I'll take some notes here.  First, I had to create `inst/shiny/mapApp` and move the most of `R/mapApp.R` there.  Then I had to remove that stuff from `R/mapApp.R` and add some more things so it finds this `inst` directory and does `runApp()` pointed at it.  I won't bother showing all the steps, be

[2021-08-13 18:38] dankelley commented on #480
I have done this in commit 3abf8d3476a55f10caac4b851006ed64dd279105 of the "develop" branch.  The placement of the button is **very** ugly, and I am going to rely on @j-harbin to find a better position.  I'm including snapshots of that bad position, and of the window that comes up when you click on it.

**(ugly) button position**

<img width="671" alt="Screen Shot 2021-08-13 at 3 01 59 PM" src="ht

[2021-08-13 18:41] dankelley commented on #480
NOTE to @j-harbin now, `R/mapApp.R` just calls code in `inst/shiny/mapApp/app.R` and so it is **crucial** that further edits to the interface be done in this second location.

Also, note that using `source(R/mapApp.R)` will no longer help.  You must **rebuild** the whole package to test new code.

PS. this note has bold-face because I'm worried about getting into git tangles. Indeed, when I went t

[2021-08-13 18:43] dankelley commented on #480
@j-harbin -- I propose that you alter the location of this new button to your liking, and then close this issue.  Next week is fine for that, of course.

[2021-08-14 11:45] dankelley opened #481 "revdepcheck"

[2021-08-14 11:47] dankelley commented on #481
This procedure is accomplished following instructions at https://github.com/r-lib/revdepcheck, but since the package is not on CRAN yet, nothing depends on it and therefore the test fails.

Here, though, failure means that the test is irrelevant ... i.e. there's no problem, and so I'm closing this issue.  The only point of opening it is to record the URL in the first paragraph

[2021-08-14 11:47] #481 closed

[2021-08-14 11:53] dankelley opened #482 "reindent code"

[2021-08-14 11:57] dankelley commented on #482
This has been done for `R/mapApp.R` and `inst/shiny/mapApp/app.R`, which are the main things that were confusing to read, owing to non-uniform indentation practices.

To indent, please use vim with the `Nvim-R` plug-in, and ensure that the following are in your `~/.vimrc` file:
[code]

[2021-08-14 11:59] dankelley commented on #482
I am going to close this issue, because we have it on our radar now that if changes are made in the code, then the local code must be re-indented.  The point of making this issue was to provide the instructions listed in the previous comment.

Note that re-indenting the rest of the code in the `R` directory is not a high priority, because it was mainly authored in vim from the start.  The indentat

[2021-08-14 11:59] #482 closed

[2021-08-14 12:42] dankelley opened #483 "ensure tarball contains no extraneous files"

[2021-08-14 12:46] dankelley commented on #483
[code]
produces as below.

I wonder whether it's ok to have the duplicated vignette files (in both `vignettes` and `inst/docs`) but the package check didn't complain about extraneous files, so maybe that's ok.

I probably should check with some other package tarballs.

[code]

[2021-08-14 12:55] dankelley commented on #483
At https://stackoverflow.com/questions/59645828/how-to-properly-organise-vignettes-and-inst-folders-when-creating-new-r-package I see some discussion of this, although I cannot determine the "proper" method from this.

One thing, though: the `inst/doc` directory is not present in our source files.  It must be created during the
[code]
process, I suppose.

Since my web searches (including the URL s

[2021-08-14 12:59] #483 closed

[2021-08-14 13:19] dankelley commented on #477
I see the following today, and have just fixed it by converting the `\url{}` to `\code{}`.
[code]

[2021-08-16 14:14] dankelley commented on #480
I think we need to keep it there, so R will find it.  If you look at it, you can see that it finds the other directory and tells shiny about it.

The file should now be quite short -- just docs and maybe 10 lines of code.

I could Z if this is not clear.

[2021-08-16 14:33] j-harbin commented on #480
Ah, yes! I remember you explaining this on a Z before. I didn't realize that it had already been updated. I consider this issue done. Feel free to close if you agree.

[2021-08-16 14:44] dankelley commented on #480
Looks great.  Thanks, Jaimie!

[2021-08-16 14:44] #480 closed

[2021-08-16 14:46] dankelley opened #484 "mapApp: should the symbol selector be a slider or a popup menu?"
I think a popup menu makes sense, because it's an integer quantity.  @j-harbin if you agree, perhaps you could do that change, since you understand the UI code better than I.

[2021-08-16 14:49] j-harbin commented on #474
This is done in commit 7b2d687c0665d2bfd6d29f9d0b53d5387a8c1e9b of develop (See below). Before I close this issue, should I add the  `colourpicker` package to "suggests" in the description file?

![Screen Shot 2021-08-16 at 11 39 10 AM](https://user-images.githubusercontent.com/58750538/129583163-c7c30e3e-1bb2-4c6d-b22b-813aa825d9f0.png)

[2021-08-16 15:05] dankelley commented on #474
I think `colourpicker` should be added to Suggests, but it might be to Imports.  Frankly, I don't really understand the distinction, even though I've read the docs (many years ago) and have had it explained to me by Dewey (just weeks ago).

Basically, my understanding of the decision process is:
1. not all users will want `mapApp()`, so it ought not to be required
2. we don't want blanket importin

[2021-08-16 15:59] j-harbin commented on #474
I've added the requireNamespace() check for `colourpicker` within `mapApp`. I see in the DESCRIPTION file that we have `shiny` in Imports, which is telling me that `coloupicker` should be in Imports as well, because Franky, `mapApp()` does not work without `colourpicker` (similar to the fact it does not work without `shiny`). These changes are done in commit 0e38664d56e549ac4060b32e43c7ef62c705643

[2021-08-16 16:05] dankelley commented on #474
Yup, I think it ought to be open until Dewey can tell us if the guesses I made are right.  J, you might want to read https://kbroman.org/pkg_primer/pages/depends.html to see one view of the procedures.  The official docs also talk about this stuff, but (I think) they don't get into the use of Roxygen specifications.

[2021-08-16 16:39] j-harbin commented on #484
Hi @dankelley,
What is meant by a popup menu? Do you mean like a selectInput (similar to the focus button that I've screen shot?)

![Screen Shot 2021-08-16 at 1 39 15 PM](https://user-images.githubusercontent.com/58750538/129598775-4e3e71f9-7cd2-4364-81ad-db41828d8bd2.png)

[2021-08-16 16:45] dankelley commented on #484
Yup.  I call it "popup" because it pops up.  I'm not sure of the right name though.  Possibly, with 25 items, it won't work well ... but it's worth a try, if you think you might like the look of it.  At one point I had figured out how to get the icons to appear by the numbers, but the code for that is a bit fiddly and therefore I don't recommend it.

[2021-08-16 17:27] j-harbin commented on #484
To avoid the issue of scrolling for numbers 1:25 for `selectInput`, I instead used `numericInput`, ( see commit commit bf4427967a312d7677cc4e73a4583384fc2b25d9 of develop) which allows the users to either use the arrows to increase or decrease the desired number (with a min of 0, max of 25 - same as before), OR type in the number themselves. I quite like this and didn't know it existed. See screen

[2021-08-17 12:32] j-harbin opened #485 "Reformat "Settings" tab"
I will be reformatting the Settings tab to have symbol widgets together, and path widgets together.

[2021-08-17 15:01] j-harbin commented on #485
Aligning things still kind of confuses me. In commit 69c3aef02af3d994972468c6569b181bb68bf25e of develop, I did the best I could. I wouldn't say it's perfect by any means, but it's better. It's worth nothing that I initially tried making "Symbol Gallery" be on the same line as the other symbol commands, but it looked to crammed.

![Screen Shot 2021-08-17 at 11 54 50 AM](https://user-images.githubu

[2021-08-17 15:01] #485 closed

[2021-08-17 15:03] dankelley commented on #485
I think this looks *great!*

[2021-08-17 15:47] #484 closed

[2021-08-20 12:12] dankelley commented on #474
Thanks for this, Dewey.  Although we've focussed a lot on `mapApp()`, it is just one aspect of `argoFloats`, and therefore I like the idea of (restating to be clear)
1. put `shiny` and `colourpicker` in Suggests
2. retain the `requireNamespace()` tests (which are already in the code)

[2021-08-20 14:21] dankelley commented on #474
I've done this in commit c05c598253641627025c248db5676587d8ee2051 of the "develop" branch.

[2021-08-20 14:23] dankelley commented on #474
At this stage, I think this issue is complete, so I'm closing it.

This is not the usual way we work here (since I am neither assigned nor the reporter), but I want to clean things up, it being the end of the week 'n all :-)

[2021-08-20 14:23] #474 closed

[2021-08-20 14:24] dankelley opened #486 "get someone to try `mapApp()` to see if it "feels" good"

[2021-08-20 14:46] dankelley opened #487 "ensure all actions are "green""

[2021-08-20 14:47] dankelley commented on #487
Note: the `test-coverage` action fails, but this seems to have nothing to do with the package, so we'll just ignore it as a criterion, demanding instead that the other actions all work properly.

[2021-08-20 15:21] j-harbin commented on #486
@cgrdn & @paleolimbot if you have time, would you be interested in doing this? `mapApp()` is a shiny app within `argoFloats` and that's all I will say. We are curious from the help docs, etc. if the use of `mapApp()` is self-explanatory, does what you expect it should do, and what you want it to do?

We are tentatively planning for a release to CRAN sometime next week, so it'd be great if this cou

[2021-08-20 15:23] j-harbin commented on #486
To that last point, it should be noted that the "develop" branch is the branch to use for the most up to date version of `mapApp`

[2021-08-20 18:18] dankelley commented on #486
I see that disappearance also, but only in RStudio ... if I click the button to view in a browser, it seems okay.  It seems to happen in any app I make.

[2021-08-23 13:32] dankelley opened #488 "proposal: add new function to search for files"
A while ago I downloaded a realtime file named `R6903548_029.nc`.  I'd prefer to use a delayed-mode version, if it has become available since I downloaded it.

It turns out that there *is* an update, as shown in the reprex below.  (This is just a crude demo. If we like the idea, we'd let the parameter be a vector of character values, so we only need to run the `index()` call one time.)

I sort of

[2021-08-23 14:09] dankelley commented on #488
Thanks, Dewey.  That's a good indication that this is worth doing.  (The other is that I want it for my own work, although I prefer to replace realtime with delayed-mode, on the grounds that it has been subjected to further vetting.)

[2021-08-23 15:35] j-harbin commented on #488
Hi Dan, it seems my email is acting funky again because I did email you back regarding this and now I don't see it in my sent or drafts. The problem I have with this function is that once a delayed mode becomes available, the real-time mode disappears. This means that for a user to **know** a filename to lookup in `findUpdate` they would need to know it already existed (either my memory or in your

[2021-08-23 16:07] dankelley commented on #488
Good points, @j-harbin, and so I will now close this.  This is the kind of thing that a user can do, if they want to.

My usage pattern is that I already have the files, and just want to update them.  But my suggested function is just 4 lines long, and any serious user could easily recreate that.

Given all of this, I will close the issue, and note that the proposal is rejected.

Your comment was

[2021-08-23 16:07] #488 closed

[2021-08-24 14:16] cgrdn commented on #486
Hi just wanted to comment that I haven't forgotten about this and I will have a look at it this afternoon!

[2021-08-24 18:23] cgrdn commented on #486
I was actually in good position to do this because my computer recently had to be wiped clean recently so this went from a fresh install:

- I installed `argoFloats` no problem, but then ran into an error `Error in mapApp() :   must install.packages("colourpicker") for this to work`. Not sure if that is just a fact of life or if that means that package should be listed in the dependencies somewher

[2021-08-25 10:55] dankelley commented on #486
Thanks very much, Chris.  Your comment has two parts: packages and functions.  Since github doesn't have threaded comments, I propose to focus on the first to begin with, returning to the second after we get progress on the first.

NOTE: I'd love to hear from @paleolimbot on what I'm writing in this comment.  He knows a great deal about such things.

The need to install things was by design, becau

[2021-08-25 11:36] dankelley commented on #486
I agree, and have coded for that, but not yet pushed.

[2021-08-25 12:25] j-harbin commented on #486
Thanks Chris and Dewey! This has been very insightful. Dan, I'm not working on argoFloats "stuff" today so your push won't conflict with anything I'm doing.

[2021-08-25 12:37] dankelley commented on #486
Thanks for that Dewey.  I think I want it for something else, anyway!

PS. I think CRAN is sort of on holiday this week (from a note on https://stat.ethz.ch/mailman/listinfo/r-package-devel I saw today)

[2021-08-25 12:52] dankelley commented on #486
Now, `mapApp()` checks and reports on all packages that are used anywhere in `argoFloats`.  That way, a newcomer who tries using `mapApp()` will get instructions for all packages at once, avoiding the start/stop problem that Chris encountered.

I've added this, starting at https://github.com/ArgoCanada/argoFloats/blob/aeb8cc965775e05608c7b5670716285863bc4e01/R/mapApp.R#L71:L76

[2021-08-25 12:56] dankelley commented on #486
@cgrdn I added numbers to your comment, for cross-referencing.  I think I've addressed numbers 1, 2 and 3.  Perhaps when @j-harbin has an argo day, we can discuss the others. (I'm not asking for a N-person meeting because they are so hard to set up ... and they will get a lot harder pretty soon, when teaching starts!)

[2021-08-31 11:12] dankelley commented on #487
Oh, I see the test-coverage action has been working for about a week now (https://github.com/ArgoCanada/argoFloats/actions/runs/1166542472).  Thanks, Dewey!

[2021-08-31 11:12] #487 closed

[2021-08-31 13:12] j-harbin opened #489 "Update help docs in mapApp() to better display key strokes"

[2021-08-31 13:18] j-harbin opened #490 "Change keystroke "p" to be "h" for hold"

[2021-08-31 13:19] j-harbin opened #491 "Indicate to user that "hold" is on"
When a user uses keystoke "h" (which used to be "p") the message will turn a dark red, and will indicate that the hold state is on.

[2021-08-31 13:20] j-harbin opened #492 "Double click in mapApp() should automatically switch view to single"

[2021-08-31 13:23] j-harbin commented on #489
Done in commit ad3cc9009d102cdfac77154ac0b6449f623a597e of develop.

[2021-08-31 13:35] j-harbin commented on #490
Done in commit b67511985f0f5414bafe976fcb95a6604bb63251 of develop.

[2021-08-31 13:35] #490 closed

[2021-08-31 13:35] dankelley commented on #489
I wonder whether you can make this doc string a bit more self-consistent?  I sometimes see `'(thing)'` and sometimes see `"(thing)"` and I'm not too sure what the difference is.

Possibly we should use bold-face for keystrokes, like `<b>?</b>` and quotes like `"Single"` for menu items and button names.  If you agree, perhaps do the change and add a comment so I can check.  If you disagree, just re

[2021-08-31 13:38] dankelley commented on #489
Or possibly `*"Single"*` for single items -- that way they see the double quote and they also see italic.

[2021-08-31 13:39] dankelley commented on #489
Sorry, I've edited the last two comment in-place.

[2021-08-31 14:12] j-harbin commented on #492
Done in commit 5852cc5506398e3ab376259fa257d5ff37533ade of develop.

[2021-08-31 14:12] #492 closed

[2021-08-31 14:13] j-harbin opened #493 ""r" keystroke not resetting hold message in mapApp()"

[2021-08-31 14:55] j-harbin commented on #491
Done in commit 42f58418c4d12e1a07bc6c464cd6e5c9d70f8059 of develop (see below). I am leaving this issue open for now, because I have not yet figured out how to paste the message in red.

![Screen Shot 2021-08-31 at 11 52 43 AM](https://user-images.githubusercontent.com/58750538/131525700-2ea43505-df16-4be1-b292-44b109eb0387.png)

[2021-08-31 15:09] j-harbin commented on #493
Fixed in commit 64c66f0181abbc54d89b9bb1571a28d6c3749afc of develop.

[2021-08-31 15:09] #493 closed

[2021-08-31 15:26] j-harbin commented on #489
Good point on this. I made it such that any tab names and ? for keystroke are bolded and any menu items or button names are in double quotes. (commit 74f53ba06dc5b4f5b688e09fb838dc8d46beae0f of develop). See below. If you're happy with this feel free to close the issue.

![Screen Shot 2021-08-31 at 12 25 43 PM](https://user-images.githubusercontent.com/58750538/131530956-ab679dd4-0b62-4b02-93fd-8f

[2021-08-31 15:44] dankelley commented on #489
Can "holding a message" say a bit more?  Perhaps "holding the contents of the information window steady, retaining the information about the float nearest the mouse".  Actually, I can't figure out how to phrase that clearly.  Maybe you can see a way to make it a bit clearer than "a message"?

[2021-09-01 12:44] j-harbin commented on #491
Done in commit 2163855798d946103b722d1afa40e5458d2bf14a of develop.

![Screen Shot 2021-09-01 at 9 43 21 AM](https://user-images.githubusercontent.com/58750538/131673296-6635ecaf-5ccf-4508-8631-976126b8b166.png)

[2021-09-01 12:44] #491 closed

[2021-09-01 13:08] j-harbin commented on #489
I fixed this up in commit 4ca6b92478d129eacd993829cd183bad87e26e47 of develop. We actually already had a paragraph explaining the hover message, so I just did some rearranging (shown below). Based on the name of this title, this issue is fixed, so I will close it. Please feel free to add any other comments about the help page, though.

![Screen Shot 2021-09-01 at 10 07 26 AM](https://user-images.g

[2021-09-01 13:08] #489 closed

[2021-09-01 13:09] dankelley commented on #489
Thanks.  I'll have a look to see if any edits come to mind.  I'll be done in 15 minutes.

[2021-09-01 13:17] j-harbin commented on #486
@paleolimbot and @cgrdn, thank you both very much for taking the time to look into this. Based on your comments, we have made some tweaks which were addressed in bold font inside of Chris's comment. Dan, since you were the one who created this issue, if you are satisfied, feel free to close it. Of course if anyone has any other comments/concerns feel free to mention.

[2021-09-01 13:46] dankelley commented on #486
I agree that the issue, as described by its title, has been addressed, and therefore I am closing it.

PS. this "described by its title" part is important.  I find that's the best way to avoid issues turning into months-long dialogues that are difficult (for me) to keep track of.

[2021-09-01 13:46] #486 closed

[2021-09-01 15:55] dankelley opened #494 "Release argoFloats 1.0.0"
First release:

* [ ] `usethis::use_cran_comments()`
* [ ] Proof read `Title:` and `Description:`
* [ ] Check that all exported functions have `@returns` and `@examples`
* [ ] Check that `Authors@R:` includes a copyright holder (role 'cph')
* [ ] Check [licensing of included files](https://r-pkgs.org/license.html#code-you-bundle)
* [ ] Review <https://github.com/DavisVaughan/extrachecks>

Prepare

[2021-09-01 16:14] dankelley commented on #472
The checklist being completed, and the **wonderfull* `devtools::check_win_devel()` having been used to create a much better checklist (#494), I'm closing this.

[2021-09-01 16:14] #472 closed

[2021-09-02 11:52] j-harbin opened #495 "A list of things to mention for CRAN release meeting with DK"
* [x] #496
* [x] Vignette (and therefore user website) have Core, Deep, and Biogeochemical capitalized, but `?argoFloats-package` does not
* [x] Vignette (and therefore user website) "Preliminary Setup" not consistent with developer website
* [x] Vignette (and therefore user website) figure name for work flow should be more descriptive (eg. Work flow of the argoFloats package with descriptions on

[2021-09-02 13:23] dankelley commented on #495
Hi J.  I see you assigned both of us, but we don't want git conflicts.  Do you have time to look at these before the meeting at 1PM today, or shall I?

[2021-09-02 14:14] dankelley opened #496 "Image not showing up on user website on main page"

[2021-09-02 14:14] dankelley commented on #496
@j-harbin -- I'll look at this.

[2021-09-02 14:19] j-harbin commented on #495
Hi Dan. I will leave the image problem to you and I will look at the rest.

[2021-09-02 14:44] dankelley commented on #496
Fixed.  I used `usethis::use_readme_rmd()` to set it up, then I copied the content from the old `README.md` into `README.Rmd`, changing the chunk start tokens (and fiddling with chunk options to get the figure to have a good pointsize).

[2021-09-02 14:44] #496 closed

[2021-09-02 16:38] #495 closed

[2021-09-06 16:49] dankelley opened #497 "mapApp() should use same start/end symbol size irrespective of # points in path"
I noticed this while testing `mapApp()` during my edits for the CRAN resubmission.  (I'll say more about the resubmission tomorrow, during normal working hours. I'm only making this issue on a holiday because I see no reasonable argument against my plan, and so the point of the issue is just to document the code change.)

As you can see in the snapshot plot and code, I wrote this to use a smaller

[2021-09-06 17:02] dankelley commented on #497
Done in "develop" commit 3cc6e318ed3f934dd87ca3f35a477eb2d3e54ef1

[2021-09-06 17:02] #497 closed

[2021-09-09 16:36] dankelley opened #498 "(temporary?) missing rgdal for testing"
(@j-harbin this is FYI, but it's assigned to me so you can just monitor it, rather than thinking about the problem.)

I just made a minor change in a margin in an example for `plot()`.  This ought not to break an action, but as you can see below, the R-CMD-check action is now failing.  Looking in more detail, I see that it's failing because `rgdal` is not available for testing.

How it worked an h

[2021-09-09 16:52] dankelley commented on #498
Thanks, Dewey!  My plan is to submit to CRAN before my first class tomorrow, or at mid-afternoon, if not.  I'm not really worried about this temporary problem with rgdal, and therefore don't want to slide into the weekend, because CRAN was kind enough to send a review last weekend and I don't want to ignore their helpful advice.

[2021-09-09 18:00] dankelley commented on #498
This action is working again, so I'm closing this.

[2021-09-09 18:00] #498 closed

[2021-09-13 09:38] dankelley commented on #494
* review01.md handled a few days ago.
* review02.md is just received (see sandbox) and I'll look into that today and tomorrow (most likely tomorrow)

[2021-09-15 09:25] dankelley commented on #494
@j-harbin -- this is on CRAN now.  So far, it's just in source form, but likely a built-up version for windows will appear today, with macOS etc coming later.  (CRAN builds up multiple versions.)

So, back to the checklist, it's over to you.  I propose that you prepare a blog post about this, perhaps coordinating with @richardsc since the blog is part of argoCanada.

Also, now would be a time to t

[2021-09-15 11:00] richardsc commented on #494
Yay!

Agree on the blog post (Jaimie) and the tweet thread (me). I've got a weird day today because the power is going to be off all day at my house, but I can't leave (electical upgrades) so I'll see if I can do this while on battery/hotspot.

[2021-09-15 14:17] richardsc opened #499 "Update "tweetThread""
Hi @j-harbin -- I'm going through the tweet thread (in the sandbox) that you originally made, to update where necessary so I can post now that argoFloats is on CRAN.

I noticed one missing image -- can you look into this?

![image](https://user-images.githubusercontent.com/233584/133450498-69ec68cc-9de9-4ec5-a817-c3dba262d171.png)

[2021-09-15 15:44] j-harbin commented on #499
Hey Clark,

In short,  once we made significant changes to `useAdjusted()` after the review for our paper, the figure was no longer up to date. For the help docs, we collectively decided to remove the figure. That being said, `useAdjusted()` is a complicated concept, so if you think it'd be beneficial to have the visual for the tweet thread, I should be able to easily add / update the flow diagram

[2021-09-17 09:42] j-harbin opened #500 "Bug with brushing in mapApp()"
Dan and I discovered a bug with `mapApp()` that was causing the brushing (or zooming) functionality of `mapApp()` to not work. This was a result of setting the margins for the plot, and then resetting the margins to the initial state. This has since been fixed in commit d5223b3eee4e178f81369db8e56d912df437e3e6 of develop.

[2021-09-17 10:22] j-harbin opened #501 "Message staying red in mapApp once "h" (hold) is released"
When a person hovers over a position and then clicked "h" to hold the message, we had it coded such that the message turned red to let the user know the message was being held. I noticed today, however, when the user clicks "h" again, aka unholds the message, the print of the hover message stays red but really we want it to go back to black because hold is no longer on.

[2021-09-17 10:22] #500 closed

[2021-09-17 10:25] j-harbin commented on #501
This is fixed in commit 9d0e42484e5206cbddeb7b969bd63553d92d0c6e

[2021-09-17 10:25] #501 closed

[2021-09-18 17:13] dankelley opened #502 "salinity profile label needs improvements"
Depending on the eos, it should say either "Practical Salinity" or "Absolute Salinity [g/kg]"

[2021-09-18 18:20] dankelley commented on #502
Done in "develop" commit 3854346fcd937fcae02e5d0e66f6276f35476a98 (merged to "main" also).

[2021-09-18 18:20] #502 closed

[2021-09-21 11:56] dankelley opened #503 "mapApp() makes ugly fullwidth lines"
The screenshot below shows this.  I won't bother explaining since @j-harbin and I will talk about this in a meeting this morning.  I know how to fix this kind of thing in C (looking through the elements of vectors at high speed, interpolating to boundaries, inserting a point on one boundary, then a NA line, then an interpolated point on the other boundary) but I don't want argoFloats to require co

[2021-09-21 12:16] dankelley commented on #503
Thanks, we'll look into the speed!  You're great, D!

[2021-09-21 12:40] dankelley commented on #503
I see how to do it (altered code).  @j-harbin will try out some speed examples later today.

[code]

![](https://i.imgur.com/8zHuQq4.png)

<sup>Created on 2021-09-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-09-22 12:58] dankelley commented on #503
I'll look at this.  I need to study up a bit on how to slice and dice the sf objects (e.g. to see if they have been split up).  I can fiddle with objects to learn the structure but I do hope to find docs that tell me how I should slice and dice using an API.

[2021-09-22 13:01] dankelley commented on #503
It seems to me that unsplit items inherit from `LINESTRING` and that split ones inherit from `MULTILINESTRING`.  I'll use that to decide what to do.

[2021-09-22 13:19] dankelley commented on #503
@j-harbin I think I have this working now in "develop".  Below is a screenshot with year-to-date.  It is slow, but I think that's better than unusable.  On my machine, it took maybe 1 to 2 minutes to render this.  Of course, a year of data is a fair bit to handle.

Please have a check of this.  If you think it's OK, let me know and I'll merge into "master".  (I will be offline for 2 to 3 hours now

[2021-09-22 14:25] j-harbin commented on #503
Hi Dan,

The path looks great. I just went in and played around with to make sure the settings tab, etc. was still working and it was. One thing I will note, and I'm not sure if this was **just** introduced, or if we just didn't noticed it, but when you do the following steps, we see no profiles. This could be a new separate issue.

1. Only look at Deep Argo for simplicity (Note, this problem is n

[2021-09-22 14:54] j-harbin opened #504 "Double click operation not always working properly"
Note that beginning of this discussion started in https://github.com/ArgoCanada/argoFloats/issues/503 . Initially, I thought that the problem only occurred when "path" was selected, and that is not true.

**Sometimes** (not always) if I just load `mapApp()` and double click a float I get the photo below (ie. no floats showing). I have so far only experienced this with Deep and BGC floats and not y

[2021-09-22 14:56] j-harbin commented on #503
Please see discussions in https://github.com/ArgoCanada/argoFloats/issues/504 about the double click problem. I was wrong and this is not specific to when "path" is on. This is a completely separate issue. In conclusion, I will close this issue (since I opened it) and we can focus further discussions in https://github.com/ArgoCanada/argoFloats/issues/504

[2021-09-22 14:57] j-harbin commented on #503
Whoops! I didn't open this issue :) . I'll reopen.

[2021-09-23 12:03] dankelley commented on #503
Done (verified in f2f).

[2021-09-23 12:03] #503 closed

[2021-09-23 12:42] dankelley commented on #504
During out f2f, we realized that the problem ocuurs when viewing a subset.  Say, for example, that only Deep is being viewed.  If a double-click occurs far from one of the float positions, mapApp will find *any* float (most likely a Core one) near that point, and centre there.  But it won't display it, because the view is restricted to Deep in this case.

The solution is not to zoom upon a double-

[2021-09-23 14:39] j-harbin commented on #504
This is fixed in commit 8594824eff255899e27838c7f38db5a889a72a7e of develop. If it all seems to work out on your end feel free to close this issue!

[2021-09-23 15:15] dankelley commented on #504
Any chance I could ask you to indent that code block?

[2021-09-23 15:17] j-harbin commented on #504
Done

[2021-09-23 15:19] dankelley commented on #504
Your quick -- so quick I couldn't find an xkcd cartoon about code indentation :-)

[2021-09-23 15:23] dankelley commented on #504
Couldn't find a cartoon on code indentation, but https://xkcd.com/1732/ is worth a look in general.

[2021-09-23 15:27] dankelley commented on #504
Looks great, thanks! 🤓

[2021-09-23 15:27] #504 closed

[2021-09-24 11:09] dankelley opened #505 "mapApp() not obeying path-line width setting"
To reproduce, double-click a float and select "path". Then, if you change the line colour, that works.  But if you change the line width, it stays the same.  (It helps to turn contouring on, because then it's obvious that the linewidth is not changing.)

Any chance you could fix this in "develop", @j-harbin?  That way, I can merge into "developdevelop", where I am fiddling around with things so th

[2021-09-24 11:46] dankelley opened #506 "mapApp() control region too large"
The default `mapApp()` view is too large for my screen, in the sense that I have to scroll in one direction to use the controls (e.g. to set the time range) and then the other way to see the plot.  I am on a small laptop and I think my default font might be larger than average, but this is a pain.  I can reduce the font a bit and still see it, but if I show this in class and have to say "we have t

[2021-09-24 11:49] dankelley commented on #506
PS. I may also trim the bottom and left margins another half-font-height.  That won't make a big difference but you know me -- I prefer tight margins, so we get more space for the data.

[2021-09-24 11:57] dankelley commented on #506
I've tightened the margins a bit more in "developdevelop" commit e36126f462bf5d60a05b00a17b95b2052500b601; below is the result (to be compared with the second plot, 2 comments above).

<img width="1022" alt="mapapp-developdevelop2" src="https://user-images.githubusercontent.com/99469/134670397-926812ce-32f0-4be1-a5e0-7166069f826c.png">

[2021-09-24 12:27] j-harbin commented on #505
Fixed in commit 7a3fd620856e891175ca7ea97e3b9f39bd389896 of develop. Good catch on this.

[2021-09-24 12:34] j-harbin commented on #506
I agree that the new `developdevelop` looks better. Correct me if I'm wrong, however, didn't we initially set the margins for mapApp, then set it back to the original (as suggested when we were submitting to CRAN). This caused us to run into the problems with brushing to zoom in, etc (https://github.com/ArgoCanada/argoFloats/issues/500), which is why we removed it. Will this cause the same problem

[2021-09-24 12:47] dankelley commented on #506
You're not wrong.  But there are 3 places I can think of to set it.  One has no effect. Another breaks zooming.  And the third -- the one we have in developdevelop -- seems to work.  But I'd really appreciate it if you could try zooming and some other things for 15 minutes.

[2021-09-24 12:50] dankelley commented on #505
Thanks. Closing now.

[2021-09-24 12:50] #505 closed

[2021-09-24 12:56] j-harbin commented on #506
All works on my end. I did notice another error (unrelated to this) so I will make a separate issue.

[2021-09-24 12:58] j-harbin opened #507 ""Start" and "End" for path doesn't work in mapApp()"
When the user selects path in `mapApp()`, they are then presented with three widgets, "start", "end" and "without profiles". Without profiles works fine, but start and end do not.

[2021-09-24 13:04] dankelley commented on #507
Um, who is assigned on this one, @j-harbin?  I need to teach in a short time, so I'm hoping you'll assign yourself.  Also, please note the branch in which we will be working.  I hope you will fix it in "develop", so I can merge that into "developdevelop".  It gets confusing when two branches are reworking code.  (I had to handle a merge conflict a couple of commits ago.  It was easy because it was

[2021-09-24 13:07] j-harbin commented on #507
I just realized that this problem is specific to developdevelop. This means that introducing the change in margins created this problem. I 100% agree with you that ideally the margins should be tighter, however, I'm not familiar with what the change in margins impacts. This makes me worry that eventually down the road we will find another bug related to this. What are your thoughts on this?

[2021-09-24 13:16] dankelley commented on #507
Just about to teach, but does the following fix it in developdevelop?

commit a6bfd1ab5a5d40e199d7d96c83cc5158aa5ebe6d
Author: dankelley <kelley.dan@gmail.com>
Date:   Fri Sep 24 10:15:46 2021 -0300

    fix to start/end (issue 507)?

[2021-09-24 14:16] j-harbin commented on #507
This fixes the "end" button, but not the "start". I will look into this deeper now.

[2021-09-24 14:21] j-harbin commented on #507
Oh! It was just the matter of a 1 that should have been a 2. This is now fixed in the developdevelop branch in commit f06a48dc3e37676155667fa23ca94d267c710104

[2021-09-24 14:26] dankelley commented on #507
Good.  Do I have your permission to merge developdevelop into develop?  (I'm offline another hour ... just back between lectures)

[2021-09-24 14:40] j-harbin commented on #507
Yes! Sounds good to me.

[2021-09-24 15:29] j-harbin commented on #499
The tweet thread has been updated in commit 021c064c33a231fc6332b3d2d024e251de3a1162 of develop. I re added the `useAdjusted` diagram because when I went into my sandbox (sandbox/jlh/23_useAdjustedDiagram) I realize that we took the time to update the diagram after our comments from the excellent reviewer when submitting our paper. useAdjusted is a difficult concept and I find the visual is helpfu

[2021-09-24 16:18] dankelley commented on #507
Done

[2021-09-24 16:18] dankelley commented on #506
Done.

[2021-09-24 16:18] #506 closed

[2021-09-24 17:01] j-harbin opened #508 "Proposal: "r" keystroke should reset setting tab parameters in mapApp()"

[2021-09-25 12:52] dankelley opened #509 "Fixing 3 mapApp() issues"
In testing mapApp(), I discovered 3 issues worth addressing:

* [x] We cannot turn off all the argo types (a known issue).
* [x] "Contour" only works if one of the argo types is displayed (a new issue).
* [x] The scalebar does not white-out contours (a new issue).

I see how to fix these things, and I'll do so in the "developdevelop" branch.

My plan is to leave this issue open until at least the

[2021-09-25 12:54] dankelley commented on #509
I've made the fix in "developdevelop" commit ec1578d85a6f2cb2eef577971d4c7ab1beeae0d9 and am attaching a video (not sure if this works -- will we get sound, for example??) to demonstrate.

https://user-images.githubusercontent.com/99469/134772330-cfcd217b-1728-4f54-bce8-ee47659775d4.mp4

[2021-09-27 10:22] j-harbin commented on #509
I didn't know we could add videos to issues! This is helpful when trying to explain how to recreate a bug in `mapApp()`. This all looks good to me.

[2021-09-27 10:40] dankelley commented on #509
Thanks.  I merged "developdevelop" into "develop" and am closing this issue now.

[2021-09-27 10:40] #509 closed

[2021-09-27 15:13] j-harbin commented on #508
Fixed in commit e32c2b803d7b4585bb72072176b2eaac4491e131 of develop.

[2021-09-27 15:13] #508 closed

[2021-09-27 15:16] j-harbin opened #510 "Border Colour for BGC and Deep should only show up with pch=21"

[2021-09-27 15:20] j-harbin commented on #510
This is fixed in commit 2bcacc5fc7e627017c9a68cf72bfb3d664d85699 of develop. The problem was that the condition was based on the core pch input rather than the deep or bgc.

[2021-09-27 15:20] #510 closed

[2021-09-28 12:56] dankelley opened #511 "Q: should mapApp() use validate() instead of popup error messages?"
This follows up on emails between @j-harbin and me.

I noticed that shiny has a function `validate()` that seems to be the recommended way of ensuring that input data are usable.  As a test, I did that for the check we have in `mapApp()` for whether the End time is after the Start time.  The attached video shows what it looks like.  (In the video I note that the error popup window only lasts a sho

[2021-09-28 13:00] dankelley commented on #511
FYI: the code with `validate()` is in "developdevelop" branch commit 6ddb8abbf1ff11c94d1ee61fbb1229bdb9426ee4.  (I improved the wording of the message.)

[2021-09-28 13:10] dankelley commented on #511
Another argument in favour of using `validate()` is that the error message won't go away until you fix things.  With the present scheme, the user can (e.g. in the video) put in a bad float ID, and they will get a message that can be dismissed but the UI still retains the bad ID.

So the present scheme is not actually as helpful as using `validate()` would be.  Therefore, I have gone back and incre

[2021-09-28 13:13] dankelley commented on #511
Since I have an email from @j-harbin in favour of using `validate()`, and since @j-harbin is on another project today, I am going to go ahead and change to using `validate()`.  We can always undo the change, if required.

I will complete the task this morning.

[2021-09-28 16:59] dankelley commented on #511
I've completed this in the following commit.  @j-harbin that's it for my edits, today.  If you can test mapApp() tomorrow, that would be great, thanks.

commit 80dc22c39691c4d24195b20329e67e7d12c7ac2e
Author: dankelley <kelley.dan@gmail.com>
Date:   Tue Sep 28 13:49:33 2021 -0300

    make a notification be transitory

[2021-09-28 16:59] #511 closed

[2021-09-28 18:01] j-harbin opened #512 ""r" doesn't refresh check marks"
When the user clicks "r", it resets the "view" to only have bgc, deep, and core selected (ie. not topo, hires, path, and contour). If a user does the following:

1. open `mapApp()`
2. click topo
3. click "r" keystroke

You'll notice that topo disappears as expected, but it remains checked in the view (see below). This is not specific to topo, but instead occurs for all of the "view" widgets.

![Sc

[2021-09-28 18:07] dankelley commented on #512
See snapshot.  I think maybe near line 695 (bottom panel) we need to update the `checkboxGroupInput` named "view" (see top panel)

<img width="1138" alt="Screen Shot 2021-09-28 at 3 05 54 PM" src="https://user-images.githubusercontent.com/99469/135141574-4039dc9b-e6e9-47e2-96ed-54711238e3b3.png">

[2021-09-29 11:32] j-harbin commented on #512
Ah! You're right. This is now fixed in commit 38b59b503734410420d5856812572bd4bf33e632 of develop.

[2021-09-29 11:38] dankelley opened #513 "countdown to CRAN release"
I propose that both I and @j-harbin use `mapApp()` for a while today, to see if there are any remaining issues.  If not, then I propose to release to CRAN on Saturday.  (This timetable was discussed in a Z meeting between the two of us; the point of this issue is just to set a place for discussion.)

* [ ] Kelley finds no problems with `mapApp()` after > 1 hour of usage
* [x] Harbin finds no probl

[2021-09-29 11:38] j-harbin opened #514 "Float ID gets erased when switching from focus "single" --> "all" --> "single""
When a user does the following:

1. Double click a float, which autofills in the Float ID widget
2. Changes focus to "all"
3. Tries to go back to "single"

The float ID disappears. See video below

https://user-images.githubusercontent.com/58750538/135261019-0859e571-4cdd-47e9-a5ff-511e8826558a.mp4

.

[2021-09-29 11:39] dankelley commented on #512
Um, did you push that commit?  I'm not seeing it.

[2021-09-29 11:42] j-harbin commented on #512
Hehe! Nope, I forgot. It's pushed up now.

[2021-09-29 11:43] dankelley commented on #514
Actually, I think what it does is correct.  If you want we could do a quick Z to discuss.

[2021-09-29 11:44] dankelley commented on #512
Cool. reclosing now

[2021-09-29 11:44] #512 closed

[2021-09-29 11:45] j-harbin commented on #514
I agree with you. If the user wanted to remember which float they were looking at, they could use the "h" key stroke. I'm going to close this issue.

[2021-09-29 11:45] #514 closed

[2021-09-29 12:59] j-harbin opened #515 "Display of "view" resets unexpectedly"
When a user does the following, the "view" resets to include "core", "bgc", and "deep"

1. Chick OFF core and deep (aka only show bgc floats)
2. Click Settings tab
3. Change colour of the BGC float
4. Return to main Paige

See video below

https://user-images.githubusercontent.com/58750538/135272933-5abafc85-0169-4ae3-b32f-b5ae13ed401b.mp4

[2021-09-29 14:51] j-harbin commented on #515
I'll admit I'm a little puzzled on this. The problem comes from line 246 when we assign selected to `viewDefaults`. Instead it should be `state$view` (*note* this change was completed in commit 3869372737baaa52e5e32ffcc5ee64649a24e1e3 and we can see it used to be `state$view`). When I do that, however, the problem of this issue is resolved, but initially no floats are displayed.

[2021-09-29 17:10] j-harbin commented on #515
Thanks for your help on this, Dan. This was fixed in commit 421bf7af7cd379296792bf4c0d4eabe99e361d54 of develop. I will now close this issue.

[2021-09-29 17:10] #515 closed

[2021-10-02 11:22] dankelley commented on #513
Sorry for the delay in looking at this -- teaching 'n such :-)

I wouldn't mind a Z sometime in the week of Oct 4, to chat about a small bit of confusion I have about the float-single/all controls.  I made a video in which I'm trying to show how a user might get confused by these.

Whether we want to change the interface, I'm not sure.  I basically think that what we are doing is the best thing, b

[2021-10-02 11:33] dankelley commented on #513
One possible solution to the question in the video I just uploaded: the "Focus" popup menu might have multiple options.  A rough idea is given below.  There might be other good choices.

NOTE: I am not actually sure that "Single" means anything.  I think when we go to "All" then the float ID gets erased (which I approve of) and so there's no way for the user to know *which* single ID to look at.

[2021-10-04 11:05] j-harbin commented on #513
I worry that changing "Focus" to have a popup menu of the options you presented might make `mapApp()` a little complicated. It's funny you mention in the video that you never fully understood how you should use focus, because I would have to agree.

My question is why would a user **ever** want to go from "Single" to "All". Is it true that "All" simply just shows all of the floats in zoomed region

[2021-10-04 12:40] j-harbin opened #516 "Remove "Focus" widget from mapApp()"
Discussions of this issue started in https://github.com/ArgoCanada/argoFloats/issues/513. In conclusion, I will be removing the "Focus" widget. The user will still have the option to type in their Float ID, which will look at (what is now called) the single view. If they remove the float ID, the geographical range will stay the same, but the time will not update from the time set by the single flo

[2021-10-04 12:40] j-harbin opened #517 "Add undo function for mapApp()"
Dan has started this in the branch named undo. My plan is to finish https://github.com/ArgoCanada/argoFloats/issues/516 and then focus on this.

[2021-10-05 15:29] j-harbin commented on #516
This is done in commit 30c6fbf310256c365be90c85d03a6b513faf201f of develop. Dan, if you're satisfied with the changes, feel free to close this issue.

[2021-10-05 16:11] dankelley commented on #516
This looks great.  I am going to change the message
[code]
to
[code]
so that it's a bit shorter (and so the double-click action is clearer).

[2021-10-05 16:14] dankelley commented on #516
I've changed the hover msg in commit 7d4fb1f319fd1e2c2255df28868066f92a32c130  of develop, and I agree that this issue has been addressed, so I'm closing it.  Thanks!

[2021-10-05 16:14] #516 closed

[2021-10-05 16:39] dankelley commented on #517
My checklist:

1. [ ] Fix merge conflicts that arose with the recent changes to "develop".
2. [ ] Simplify my code. I don't think we need to push to the state stack with every change of state, only with every redraw.  That means I can trim a few dozen lines, clarifying the action a lot.
3. [ ] Think about incorporating the settings.  This will require saving the colours, line widths, etc in `state

[2021-10-06 18:28] dankelley commented on #517
This is coming along.  @j-harbin has colour-state working.  I am fiddling with ID-state enacted by double-click, which was requiring 3 undo operations to undo.  This is because it was drawing the map not once, but 3 times:
1. present time, with the chosen ID
2. whole time of that chosen ID
3. the same as 2

and so an Undo was required for each.  I had not noticed this before but now I can see it f

[2021-10-08 12:37] dankelley opened #518 "mapApp() problem in drawing after double-click"
In working in the "undo" branch, I noticed that if I double-click on float 4903049, or enter its ID into the box, we get an odd behaviour:
1. It draws just one point.  (This is done quickly, and I think it might occur also in the "develop" branch, but "undo" is slower because of all the printing I'm doing for debugging.)
2. Then it redraws, with lots of points.
3. Then it redraws again, with lots

[2021-10-08 12:42] dankelley commented on #518
It's pretty hard to scroll the video so I made screenshots of the 2nd and 3rd views:

**Second view** (all points)

<img width="683" alt="plot2" src="https://user-images.githubusercontent.com/99469/136558772-f2c51dfc-f593-4388-8fac-bc9e74008b09.png">

**Third view** (missing 1 point -- the northernmost point)

<img width="667" alt="plot3" src="https://user-images.githubusercontent.com/99469/136558

[2021-10-08 12:43] dankelley commented on #518
mapApp() tells me that the missing point is cycle 109, the most recent one.  I suspect we must have a "time < criterion" line that ought to be a "time <= criterion".

[2021-10-09 13:03] dankelley opened #519 "mapApp(): the UI element for path properties is poorly placed"
I find it confusing, being below some other things.  I have moved it in the "undo" branch (a commit a while ago, done yesterday I think) so now things look like the snapshot.  The extra info appears only when the user has indicated a desire to show the path.  The placement is a bit funny, which could likely be fixed up with some CSS control, but I fiddled a bit and didn't quite see the trick, so I

[2021-10-09 13:04] dankelley commented on #519
Oh, and I reordered some of the buttons, so items with similar intention are placed in proximity.

[2021-10-09 13:04] #519 closed

[2021-10-12 11:06] dankelley commented on #518
I feel it's time for me to merge undo into develop. What do you think?

[2021-10-12 13:17] #518 closed, assigned to dankelley

[2021-10-12 13:43] j-harbin opened #520 "Move placement of Focus ID in mapApp"
I'll be moving this next to End time.

[2021-10-12 14:25] j-harbin opened #521 "Add undo button to mapApp()"
This will be going to the right of the Help button.

[2021-10-12 16:33] #520 closed, assigned to j-harbin

[2021-10-12 17:32] j-harbin commented on #521
The warning message now pops up if sizeState() isn't greater than 1 and the user clicks the Undo button. The same can be said if the user presses "u". (commit 9ba8f433d7bf602bb5f0517967da8f00c7162dc7 of develop). I'm looking at your `popState()` comment.

[2021-10-13 12:33] j-harbin opened #522 "colourpicker default colour not updating when "u" or undo is used in mapApp()"
The below video explains this issue.

https://user-images.githubusercontent.com/58750538/137132752-6f063d73-1ed0-4583-8e58-b8d369efa9e6.mp4

[2021-10-13 12:35] dankelley commented on #522
I agree: the colourpickers should update.

[2021-10-13 12:37] dankelley commented on #521
I'm guessing we need to start at 2 because the very first state is special, relating to that trick I made for the startup.

Can you change the code where it compares with `2` to instead compare with `2L`?  The reason is that this might be a bit clearer to someone looking at the code.  (`2L` just means an integer 2, as distinct from 2.0 for example. Lots of core R functions specify the `L` to make

[2021-10-14 11:06] j-harbin commented on #522
This has been fixed in commit 4117ddd5f7fff771d9b809cde349ab16201fbc01 of develop. Not only did I change the colour pickers to update, I also made it such that the other setting widgets (ie. symbol type, size size, path width, etc.) also update after clicking the "Undo" button and "u". I'll now close this issue.

[2021-10-14 11:06] #522 closed

[2021-10-14 12:21] dankelley opened #523 "should we supply a topo file with argoFloats?"
In many circumstances, I want to make maps of local regions (e.g. a region of interest, or the region traced out by a single ID) and these often have scales like in the panels below.  The top panel is with the topo we have now (from `oce::topoWorld`, at 30-minute resolution) and the bottom one is with a new file I downloaded, which is at 15-minute resolution.  The first looks pretty "blocky" at th

[2021-10-14 13:03] j-harbin opened #524 "Should undo or "u" remove the pasted hover message in mapApp()"
Dan pointed out that currently in `mapApp()` if a user does the following, for example:

1. Click "h" to paste a hover message
2. Zoom in
3. Clicks "u" or "Undo"

Not only does the app Zoom out, it also removes the hover message. Dan voted a 0.5 to keep it this way. To me, as a user, I would expect "u" or Undo to ONLY undo the last thing I did. Meaning if I did the above three steps, the "u" would

[2021-10-14 13:58] j-harbin commented on #523
There is no doubt the second photo is more appealing. That being said, the idea of size scares me. We mention to the user how you can get the hi-res topo in the `mapApp()` help docs (see below). My thought is if a user is that interested in topography, they will take the 2 minutes to do the outlined steps. I therefore vote -0.4 (ie. not in favour) for adding this.
![Screen Shot 2021-10-14 at 10 55

[2021-10-14 14:13] dankelley commented on #523
Good, two votes on the same size of zero, so this is rejected.  I'll close it.

[2021-10-14 14:13] #523 closed, assigned to dankelley

[2021-10-14 18:46] j-harbin opened #525 "Symbols don't reoccur if user clicks "Without Profiles" then unclick "path"
When the user does the following:

1. Double click to focus on a single float
2. Click path
3. Click Without Profiles
4. Unclick path

The symbols don't reappear. Instead, to see symbols again, the user must recheck path, unclick without profiles, and then unclick path.

[2021-10-14 19:23] dankelley opened #526 "mapApp() start and end icons"
I tried googling for "start icon" and "stop icon" and, amongst other things, I saw as below.  Now, R does not have a triangle pointing to the right, but a triangle pointing up seems fine.  As for an octagon, R doesn't have that, but it does have a diamond (`pch=23`), which is visually (to me) similar.

Based on this, I think `pch=2` should mean start, and `pch=23` should mean end.  @j-harbin, if y

[2021-10-15 11:56] #526 closed

[2021-10-15 12:33] #525 closed

[2021-10-18 19:32] #513 closed

[2021-10-19 13:12] j-harbin opened #527 "Create blog post"

[2021-10-21 11:45] dankelley opened #528 "speed up [["ID"]]"
In a teaching app to show argo data, I thought I would have a text entry box for the ID.  And, I thought, wouldn't it be neat if when you've typed in some numbers, it would show how many matches are available.  For example, if no float ID starts with 123 and so that would say "no match" or something.

To do this, we need to do
[code]
but I am finding that takes over 5 seconds, which seems like a l

[2021-10-22 14:48] #527 closed, assigned to j-harbin

[2021-11-01 17:12] j-harbin opened #529 "showQCTests producing an error"
See `reprex` below:

[code]

<sup>Created on 2021-11-01 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

I'll take a look at this right now and will let you know if I run into problems.

[2021-11-02 12:02] j-harbin commented on #529
@dankelley, when I look in the code for qc.R, above the line that causes the error has a message "  ## Add zeros on left of 'fail', if needed to match length of 'perf'". I'll admit hexadecimal "stuff" is not my time to shine. Any ideas how to proceed with this?

[2021-11-02 16:31] j-harbin commented on #529
I'm adding this comment for myself as I am narrowing in on the issue. The problem is that in some cases `historyAction` does not have QCF$ (or failed tests). When it does have the QCF$ it works fine. See below

[code]

<sup>Created on 2021-11-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-11-04 11:25] j-harbin commented on #529
In commit 6c31d9c5e6c484b89f97ee02480d9bb731ac7793 of develop, I've created an warning message when the length of QCP$ (performed) or QCF$ (failed) is greater than one in `historyAction`. See reprex below.

[code]

<sup>Created on 2021-11-04 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

In summary, I do believe more work is needed to fully understand `historyAction` and `hi

[2021-11-04 11:39] j-harbin opened #530 "argos[["ID"]] doesn't perform as expected"
I noticed when dealing with type `index`, in order to look at the first ID or cycle we must FIRST do `[["ID"]]` THEN `[[1]]`. See below:

[code]

<sup>Created on 2021-11-04 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

The same can be said for type `argos`, but only when extracting `cycle`, not `ID`. Notice below that the user has the option to give`argos[[1]][["ID"]]` to g

[2021-11-04 11:43] dankelley commented on #530
Want to Z on this?  It would be easier than sorting it through by typing.

[2021-11-04 13:28] j-harbin opened #531 "Update docs for [["
Currently, `argos[[1]]` is not documented. I will be adding in that if a user gives `i` equal to a number (rather than a character), then `j` will be ignored.

[2021-11-04 13:33] dankelley commented on #531
Please be really careful to place that information well within the overall page.  As I recall, the text is broken up by argo subtype.  It might be worth printing out that page and looking at it as a whole, before deciding where to put this new information.

I recall rewriting that page multiple times, because we were adding new features and sometimes not keeping up with the docs as we did so.  Eve

[2021-11-04 13:33] j-harbin opened #532 "PROPOSAL: Add ID and cycle to the index"
Currently the names of an index include: file , date, latitude, longitude,  ocean, profiler_type, institution, and date_update. @dankelley and I were discussing that I should add ID and cycle to this data frame so it will speed up the process of extracting ID and cycle. See below the time difference if ID and cycle were included in the index.

[code]

<sup>Created on 2021-11-04 by the [reprex pack

[2021-11-04 13:36] dankelley commented on #532
But here's the good thing...
[code]

🐵

[2021-11-04 13:52] j-harbin commented on #530
It was agreed that for `index` type, the proper action is occurring. For `argos` type, to get the expected behaviour, the user must to `argos[[1]][["cycleNumber"]]`. To be able to do `argos[[1]][["cycle"]]`, the user must use the GitHub version of `oce` once issue 1881 is fixed.

[2021-11-04 13:59] #530 closed

[2021-11-04 14:07] j-harbin commented on #529
Update: in commit 199e668744900602b9a5db3bca9f3d3a1b7fff46  of develop, I made the warning message more informative. See below

[code]

<sup>Created on 2021-11-04 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2021-11-04 14:39] dankelley commented on #530
Note that, with oce as on github (develop branch), `argos[[1]][["cycle"]]` should now work.

[2021-11-15 16:41] j-harbin opened #533 "QC and summary plot should give error message when QCControl is spelt wrong"
I did the following code and couldn't figure out why I was getting a temperature plot rather than a salinity plot. It turns out I spelled `QCControl` wrong.  Unlike,  `mapControl`, `profileControl`,  and `TSControl`, if `QCControl` is spelled wrong, there is no indication to the user, and instead the defaults plots are plotted. The same behaviour happens for `summaryControl`.

[code]

![](https://

[2021-11-15 16:45] j-harbin opened #534 "plot(argos, which="summary") won't plot"
The following code produces this error. I've tried Xing R studio, and making my margins bigger, but nothing seems to work. If I specify a `item` in `summaryControl`, it does then work (obviously because the margins are then being changed). @dankelley , I'm wondering if you're able to simply plot the defaults of the summary plot without receiving this error?

[code]

![](https://i.imgur.com/lFwDN4L

[2021-11-15 16:47] j-harbin opened #535 "getIndex() won't work in RStudio Cloud"
When I do the following in RStudio Cloud (even when continuously moving my mouse so my computer does not go to sleep)

[code]
I first receive this:

![Screen Shot 2021-11-15 at 12 19 31 PM](https://user-images.githubusercontent.com/58750538/141820877-0db152b4-6cbc-4871-9463-feb3d67c89d2.png)

and then I receive this:

![Screen Shot 2021-11-15 at 12 19 41 PM](https://user-images.githubusercontent.c

[2021-11-16 11:02] j-harbin commented on #534
Fixed in commit bb428a5fe5efde448761dbbdd108f0e4e5041918 of develop. Thanks for the help Dan.

[2021-11-16 11:02] #534 closed

[2021-11-16 11:03] j-harbin commented on #535
Closing this issue because there is likely nothing we can do about this.

[2021-11-16 11:03] #535 closed

[2021-11-17 15:50] richardsc opened #536 ""Suggests" vs "Depends""
This was probably talked about before, and I forgot about it (or missed it), but the current state of having the package depend *only* on R version (though `oce` is in "Imports") means that a new user actually has to do quite a bit of package installation work to be able to run even the example given in the package README (e.g. without `curl` you can't even download the index).

If there is a good

[2021-11-17 17:17] dankelley commented on #536
Good idea, thanks.  I added more (as you can see in the snapshot below).

<img width="656" alt="Screen Shot 2021-11-17 at 1 16 49 PM" src="https://user-images.githubusercontent.com/99469/142249463-bea33260-8dd0-4e8f-8338-3ce44248eadf.png">

[2021-11-19 15:12] richardsc opened #537 "make plot(..., bathymetry=TRUE) for index/argos something that can be set with an option"
I like that the index plots can have bathymetry, but I feel like the slowness (and the issue of the creeping palette margins) makes it's less useful for quick plots of index subsets.

So, for discussion, I wanted to propose either:

1. We change `bathymetry` to be default FALSE, or
2. We make it an option that can be set (like `argoDefaultDestdir()` etc)

[2021-11-19 15:29] dankelley commented on #537
I agree with this.  @j-harbin and I have gone back and forth on it.  THB, I thought we were defaulting to FALSE.

I think we ought to do just like for `destdir`.

J can do this, I'm pretty sure.  I'll be swamped with teaching for a while.

[2021-12-02 12:27] dankelley commented on #537
I have some time this morning so I'm going to do this one.

[2021-12-02 15:16] dankelley commented on #537
commit 383e1dbdeac5dd840abc904f5515a77e02e4fda9
Author: dankelley <kelley.dan@gmail.com>
Date:   Thu Dec 2 11:15:39 2021 -0400

    plot() has bathymetry=FALSE by default

[2021-12-02 15:16] dankelley commented on #537
This is done now, so I'll close this, on the assumption that the reporter (a co-developer) will feel free to reopen it if desired.

[2021-12-02 15:16] #537 closed

[2021-12-02 15:18] dankelley commented on #536
I am closing this issue now, because (a) I think it has been handled, and (b) the reporter is a co-developer, who can be relied upon to reopen the issue if desired.

[2021-12-02 15:18] #536 closed

[2021-12-02 15:20] dankelley commented on #533
@j-harbin where do we stand on this?  I can't remember whether we have talked about this in person, and I just now noticed the "thoughts" phrase at the end of your comment of 17 days ago.

This doesn't seem to be such a complex issue that it needs to be open for multiple weeks.  Maybe it's been fixed, already ... I just don't quite know.

[2021-12-02 15:21] dankelley commented on #532
@j-harbin where do we sand on this?  I sort of think it was done 28 days ago but, if not, perhaps you can find time to do it, so the issue can be closed.

[2021-12-02 15:22] dankelley commented on #531
@j-harbin where do we stand on this?  The issue will get automatically marked 'stale' in a couple of days, I think.

[2021-12-02 15:31] j-harbin commented on #533
@dankelley, we had a Zoom on this and we decided that A) There should be an error message when the control is spelled wrong and B) If it is spelled wrong, nothing should be plotted. It's not fixed yet, because I've been preoccupied with higher priority tasks. I will be able to get around to it in the next few weeks, that being said feel free to tackle it :)

[2021-12-02 15:32] j-harbin commented on #532
Thanks for commenting to avoid the stale bot message. This has not been done yet, but again is on my radar of list of things to do.

[2021-12-02 15:33] dankelley commented on #533
Oh, I don't feel the need to tackle it :-)  Over to you, @j-harbin

[2021-12-02 15:33] j-harbin commented on #531
Thanks for bringing my attention back to these issues, Dan. I've been so focused on the workshop, I haven't had much time to address these. This particular issue is something I don't want to rush, because the docs are sophisticated and took a lot of thought. That being said, again, this is on my radar of things to do.

[2021-12-02 18:55] j-harbin opened #538 "Does useAdjusted copy <PARAM>_ADJUSTED into <PARAM> or is it simply [[ altered?"
I'm creating an issue for Clark's question he had regarding `useAdjusted`. We know if the user does `useAdjusted`, and then for example, does `x[["temperature"]]`, they WILL get the adjusted data. We want to figure out if it's because A) copied the `temperatureAdjusted` into `temperature` OR B) because we told `[[` to grab `temperatureAdjusted` even though `temperature` is specified.

This is rele

[2021-12-02 19:12] dankelley commented on #538
Perhaps the following answers the question from @richardsc but I'm not paying enough attention to be sure what the issue is actually about.

[code]

<sup>Created on 2021-12-02 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-12-02 19:40] dankelley commented on #538
Also, if the Q is about `as.ctd()`, note that
[code]

yields

[code]

[2021-12-13 15:04] j-harbin opened #539 "Proposal: mapControl should have latitudelim and longitudelim arguments"
I was looking at Argo data for the last month, and then I wanted to zoom in on a specific area. Similar to `mapPlot` in `oce`, I expected to be able to set my `latitudelim` or `longitudelim`. I searched in the docs thinking they must be named something else in `argoFloats` (ie. `xlim` and `xlim`), but based on the docs it seems the user actually doesn't have that option.

It is true that the user

[2021-12-13 15:23] dankelley commented on #539
The values of `longitudelim` and `latitudelim` are not being propagated to `mapPlot()`.  They could be, though.  Note that you did not give `projection=TRUE` and so you are not getting a call to `mapPlot()`.  If you give `projection=TRUE` you get Molleweide proj (sp?); here is how to get Robinson
[code]
but note, as I said that the lon and lat limits are not being sent to `mapPlot()`. Using `mapPl

[2021-12-13 16:53] richardsc commented on #539
@dankelley wrote:

I agree with this -- we should try to avoid duplicating tools too much. The plot method for argoFloats is handy, but it isn't necessarily made to be 100% general tool for everything up to publication-quality plots.

[2021-12-20 14:43] igibek opened #540 "[Security] Workflow stale.yml is using vulnerable action actions/stale"
The workflow stale.yml is referencing action actions/stale using references v1. However this reference is missing the commit [af4072615903a8b031f986d25b1ae3bf45ec44d4](https://github.com/actions/stale/commits/af4072615903a8b031f986d25b1ae3bf45ec44d4) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) upgrad

[2021-12-20 15:49] dankelley commented on #540
How do you recommend fixing the reference?

[2021-12-20 17:36] dankelley commented on #540
I updated to the most recent version of the stalebot, so I'll close this.  Thanks, @igibek.

[2021-12-20 17:36] #540 closed

[2022-01-06 14:52] j-harbin opened #541 "Subset by polygon not working properly"
The following video explains the bug in subset by polygon. I've also included the code here but be mindful that it uses the `locator` function, which must be interactively completed.

https://user-images.githubusercontent.com/58750538/148401313-b5570760-e0bd-4880-a1cd-7eb315e03473.mp4

[code]

[2022-01-06 14:54] dankelley commented on #541
Suggestion: after you do `a<-locator()` do `dput(a)`.  That will give you code you can include in an R file that will make for a reprex that will work for others.

[2022-01-06 15:03] j-harbin commented on #541
Thanks for that tip. The new code is attached here.

[code]

[2022-01-06 15:52] dankelley commented on #541
code from our zcall
[code]

[2022-01-06 15:57] j-harbin commented on #541
Closing this issue as it is not a bug. Changing the size of the symbols made it a lot clearer to see what was going on.

[2022-01-06 15:57] #541 closed

[2022-01-09 02:25] #538 closed

[2022-01-20 13:49] dankelley opened #542 "plot(index, which="map", cex=0.5) uses small font for depth scale"
I won't bother with a reprex since the following images make things clear, and I'm sure this must come up with any index dataset.

**Case 1: default cex (looks good)**
[code]
<img width="793" alt="Screen Shot 2022-01-20 at 9 44 31 AM" src="https://user-images.githubusercontent.com/99469/150350921-7c8e9023-bf05-4674-b18d-63893d1a5601.png">

**Case 2: cex=0.5 (looks bad)**

[code]
<img width="793" a

[2022-01-20 13:57] dankelley commented on #542
@j-harbin -- I'm going to go ahead and fix this.

You can see the problem in the snapshot.  We should not be handing `cex` to `drawPalette()`.  If a user wants to mess with the overall `cex` value, they should use `par(cex=...)`, as for other software.

There are some subtleties to `cex`, as illustrated below, but I don't say that as an excuse.  I made an error, plain and simple.
[code]

[2022-01-20 14:06] dankelley commented on #542
Fixed in commit 44a00c6f58d83a2355b6d7f271bce24f0a17b175 of "develop" branch.

[2022-01-20 14:06] #542 closed

[2022-01-20 15:49] j-harbin commented on #533
The behaviour for `QCControl` and `summaryControl` has been fixed in commit b5183115cde41e82ac83aa578b611093a12604f4 . This means, if there is a spelling mistake, or a graphical parameter that is not equal to `QCControl` or `summaryControl`, a warning is produced and no plot is produced.

I will now do the same thing for `mapControl`, `TSControl`, and `profileControl`.

[2022-01-20 16:40] j-harbin commented on #533
For `map`,`TS`, and `profile` the user already received a warning message when an argument is not a graphical parameter and the argument is just ignored. See below the argument "jaimie" is ignored, but the rest are obeyed. I'm okay with this behaviour and am therefore closing this issue.

[code]

![](https://i.imgur.com/SzxvfNh.png)

<sup>Created on 2022-01-20 by the [reprex package](https://repre

[2022-01-20 16:45] j-harbin commented on #539
Hi All -

I've finally found some time to look at these dated issues. I agree with all of your above comments. Also, the user has the option to do the following, so I'm totally okay with that. I'm (re)-closing this issue.

[code]

![](https://i.imgur.com/TP7BwLR.png)

<sup>Created on 2022-01-20 by the [reprex package](https://reprex.tidyverse.org) (v2.0.0)</sup>

[2022-01-20 16:45] #539 closed

[2022-01-20 17:06] j-harbin commented on #538
I see that you answered this on December 02nd, and I'm just noticing it now. In summary, `useAdjusted` works by copying over the adjusted field (ie. not because we told `[[` to grab the adjusted field). This means if you do the following:

1. Read argo data
2. Apply `useAdjusted`
3. Turns it into a ctd object, which strictly reads salinity, temperature, and pressure from the argo object

If you do

[2022-01-28 02:11] #532 closed

[2022-01-28 02:11] #531 closed

[2022-01-31 15:43] j-harbin commented on #529
@dankelley,

Curious if you run the code in the above comment do you get the "Warning: historyAction is not in the expected format. The tests performed were recorded 2 times and the tests failed were recorded 0 times"

I know this only works in the develop branch of argoFloats (and not the CRAN version) but I tried

[code]

And then ran the above code, but I am still receiving the error from befor

[2022-01-31 15:50] dankelley commented on #529
Hm, that warning doesn't seem to be a warning.  Or, at least, when I do
[code]
it doesn't get converted to an error.  I think if we are writing messages (as opposed to warnings) we ought to reword them so a user doesn't think they came from `warning()`.  That's because users like me do the `options()` trick whenever they see a warning,  so they can then do `traceback()` to see where the problem is

[2022-01-31 15:56] dankelley commented on #529
So, yes, I get the same error.  I find the wording of our "warning" to be quite confusing, to be honest.  I think

1. we ought to issue an actual `warning()`, not a `message()`.
2. we ought to rewrite it a bit so it's clearer what 'tests failed were recorded' means.  Maybe, since this is for argo people, we ought to say that the number of `QCP$` items (performed) does not equal the number of `QCF$

[2022-01-31 15:59] dankelley commented on #529
When I do
[code]
at the commandline, I see
[code]
which might be a clue.  (Perhaps "IP" means "in progress".  Or maybe "impressive puppy".)

[2022-02-02 19:02] j-harbin commented on #529
Just checked this on my end as well, and I can confirm that it all works. Thanks for this, Dan!

[2022-02-02 19:02] dankelley commented on #529
Dear reporter,

Do you think this issue (as defined by its title) has been addressed? If so, please close it. If not, please add a comment explaining what remains to be done. *Thanks!*

PS.  This is a standardized reply.